openapi: 3.0.0
info:
  title: Bitget API 
  version: 1.0.0
  description: |
    Welcome to Bitget Developer document!
    
servers:
  - url: https://api.bitget.com/api/v2
    description: Main REST API
  - url: https://capi.bitget.com
    description: Old REST API
tags:
  - name: Spot Trading-Market
  - name: Spot Trading-Trade
  - name: Spot Trading-Triggers
  - name: Spot Trading-Account
  - name: Future Trading-Market
  - name: Future Trading-Account
  - name: Future Trading-Position
  - name: Future Trading-Triggers
  
paths:
  /public/coin:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get Coin Info
      description: 'Frequency limit: 3 times/1s (IP).Get spot coin information,supporting both individual and full queries.'
      parameters:
        - in: query
          name: coin
          required: false
          schema:
            type: string
            example: "coin name e.g; btc,if left blank will get all coin's info"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/CoinInfo"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /public/symbol:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get Symbols Info
      description: 'Frequency limit: 20 times/1s (IP).Get spot trading pair information,supporting both individual and full queries'
      parameters:
        - in: query
          name: symbol
          required: false
          schema:
            type: string
            example: "symbol name e.g; BTCUSDT,if left blank will get all symbol's info"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/SymbolInfo"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/market/vip-fee-rate:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get VIP Fee Rate
      description: 'Frequency limit: 10 times/1s (IP)'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/VIPFeeInfo"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"        
  /spot/market/tickers:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get Tickers Info
      description: 'Frequency limit: 20 times/1s (IP).Get Ticker Information,Supports both single and batch queries'
      parameters:
        - in: query
          name: symbol
          required: false
          schema:
            type: string
            example: "symbol name e.g; BTCUSDT,if left blank will get all symbol's info"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/TickerInfo"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/market/merge-depth:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get Merge Depth Info
      description: 'Frequency limit: 20 times/1s (IP)'
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: Trading pair, e.g., "BTCUSDT"
          example: "BTCUSDT"
        
        - name: precision
          in: query
          required: false
          schema:
            type: string
            enum: ["scale0", "scale1", "scale2", "scale3"]
          description: |
            Price precision for cumulative depth. Options:
            - `scale0`: No merge (default)
            - `scale1`: Quotation accuracy at 10
            - `scale2`: Quotation accuracy at 100 (if available)
            - `scale3`: Quotation accuracy at 1000 (if available)
            If requested precision is unavailable for the trading pair, returns the highest available precision.
          example: "scale1"
        
        - name: limit
          in: query
          required: false
          schema:
            type: string
            enum: ["1", "5", "15", "50", "max"]
          description: |
            Fixed depth limit. Options:
            - 1, 5, 15, 50, max (default: 100).
            Returns available depth if less than the specified limit. "max" returns maximum depth for the trading pair.
          example: "50"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/MergeDepth"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/market/orderbook:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get OrderBook Depth
      description: 'Frequency limit: 20 times/1s (IP)'
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: Trading pair, e.g., "BTCUSDT"
          example: "BTCUSDT"
        
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: ["step0","step1","step2","step3","step4","step5"]
        - name: limit
          in: query
          required: false
          schema:
            type: string
          description: |
            Number of queries. (default: 150).
          example: "150"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/OrderBook"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/market/candles:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get Candlestick Data
      description: 'Frequency limit: 20 times/1s (IP)'
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: Trading pair, e.g., "BTCUSDT"
          example: "BTCUSDT"
        
        - name: granularity
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1min
              - 5min
              - 15min
              - 30min
              - 1h
              - 4h
              - 6h
              - 12h
              - 1day
              - 3day
              - 1week
              - 1M
              - 6Hutc
              - 12Hutc
              - 1Dutc
              - 3Dutc
              - 1Wutc
              - 1Mutc
          description: |
            Time interval of charts. Options include:
            - Minute intervals: 1min, 5min, 15min, 30min
            - Hour intervals: 1h, 4h, 6h, 12h
            - Day intervals: 1day, 3day
            - Week: 1week
            - Month: 1M
            - Hour in UTC: 6Hutc, 12Hutc
            - Day in UTC: 1Dutc, 3Dutc
            - Week in UTC: 1Wutc
            - Month in UTC: 1Mutc
          example: "1h"
        
        - name: startTime
          in: query
          required: false
          schema:
            type: string
            format: int64
          description: The starting timestamp for chart data in Unix milliseconds, e.g., 1690196141868
          example: "1690196141868"
        
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            format: int64
          description: The ending timestamp for chart data in Unix milliseconds, e.g., 1690196141868
          example: "1690196141868"
        
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Number of queries to retrieve, with a maximum of 1000.
          example: 500
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/Candles"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/market/history-candles:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get Candlestick Data
      description: 'Frequency limit: 20 times/1s (IP)'
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: Trading pair, e.g., "BTCUSDT"
          example: "BTCUSDT"
        
        - name: granularity
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1min
              - 5min
              - 15min
              - 30min
              - 1h
              - 4h
              - 6h
              - 12h
              - 1day
              - 3day
              - 1week
              - 1M
              - 6Hutc
              - 12Hutc
              - 1Dutc
              - 3Dutc
              - 1Wutc
              - 1Mutc
          description: |
            Time interval of charts. Options include:
            - Minute intervals: 1min, 5min, 15min, 30min
            - Hour intervals: 1h, 4h, 6h, 12h
            - Day intervals: 1day, 3day
            - Week: 1week
            - Month: 1M
            - Hour in UTC: 6Hutc, 12Hutc
            - Day in UTC: 1Dutc, 3Dutc
            - Week in UTC: 1Wutc
            - Month in UTC: 1Mutc
          example: "1h"
        
        - name: startTime
          in: query
          required: false
          schema:
            type: string
            format: int64
          description: The starting timestamp for chart data in Unix milliseconds, e.g., 1690196141868
          example: "1690196141868"
        
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            format: int64
          description: The ending timestamp for chart data in Unix milliseconds, e.g., 1690196141868
          example: "1690196141868"
        
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Number of queries to retrieve, with a maximum of 1000.
          example: 500
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/Candles"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/market/fills:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get Recent Trades
      description: 'Frequency limit: 10 times/1s (IP)'
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: Trading pair, e.g., "BTCUSDT"
          example: "BTCUSDT"
        
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
          description: Number of queries to retrieve, with a maximum of 500.
          example: 500
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/Trade"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/market/fills-history:
    get:
      tags: 
       -  Spot Trading-Market
      summary: Get Market Trades
      description: 'Rate limit: 10 req/sec/IP'
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: Trading pair name, e.g., "BTCUSDT"
          example: "BTCUSDT"
        
        - name: limit
          in: query
          required: false
          schema:
            type: string
          description: Number of data records to return. Default is 500, maximum is 1000.
          example: "500"
        
        - name: idLessThan
          in: query
          required: false
          schema:
            type: string
          description: Order ID to return records less than the specified 'tradeId'.
          example: "1"
        
        - name: startTime
          in: query
          required: false
          schema:
            type: string
            format: int64
          description: Start time for the trade records in Unix milliseconds, e.g., 1690196141868. Should be within 7 days of the current time.
          example: "1690196141868"
        
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            format: int64
          description: End time for the trade records in Unix milliseconds, e.g., 1690196141868. Should be within 7 days of the current time.
          example: "1690196141868"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/Trade"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/place-order:
    post:
      tags: 
       -  Spot Trading-Trade
      summary: Get Market Trades
      description: '<strong>Rate limit:</Strong> 10 requests/second/UID<br><strong>Rate limit:</strong> 1 request/second/UID for copy trading traders'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/OrderResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/cancel-replace-order:
    post:
      tags: 
       -  Spot Trading-Trade
      summary: Cancel an Existing Order and Send a New Order
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderUpdateRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/OrderUpdateResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/batch-cancel-replace-order:
    post:
      tags: 
       -  Spot Trading-Trade
      summary: Cancel an Existing Order and Send a New Order
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchOrderRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/OrderUpdateResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/cancel-order:
    post:
      tags: 
       -  Spot Trading-Trade
      summary: Cancel an Existing Order
      description: Frequency limit:10 times/1s (UID)
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/OrderResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/batch-orders:
    post:
      tags: 
       -  Spot Trading-Trade
      summary: Place Batch orders
      description: 'Frequency limit: 5 times/1s (UID)Trader frequency limit: 1 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchPlaceRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/BatchPlaceResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/batch-cancel-order:
    post:
      tags: 
       -  Spot Trading-Trade
      summary: Cancel Orders in Batch
      description: 'Frequency limit:10 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchCancelRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/BatchPlaceResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/cancel-symbol-order:
    post:
      tags: 
       -  Spot Trading-Trade
      summary: Cancel order by symbol
      description: 'Frequency limit: 5 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  example: "btcusdt"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        symbol:
                          type: string
                          example: "btcusdt"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/orderInfo:
    get:
      tags: 
       -  Spot Trading-Trade
      summary: Get Order Info
      description: 'Get Order Info<br>If you query the order details through clientOid, the following requirements need to be met:<br>clientOid is customized by user, not our system-generated<br>the order is in unfilled status'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - name: orderId
          in: query
          required: false
          description: Either Order ID or clientOid is required.
          schema:
            type: string
        - name: clientOid
          in: query
          required: false
          description: Either Client customized ID or orderId is required.
          schema:
            type: string
        - name: requestTime
          in: query
          required: false
          description: Request Time as Unix millisecond timestamp.
          schema:
            type: string
        - name: receiveWindow
          in: query
          required: false
          description: Valid window period as Unix millisecond timestamp.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/OrderInfoResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/unfilled-orders:
    get:
      tags: 
       -  Spot Trading-Trade
      summary: Get Unfilled Orders
      description: 'Frequency limit: 20 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - in: query
          name: symbol
          required: false
          schema:
            type: string
          description: Trading pair.
      
        - in: query
          name: startTime
          required: false
          schema:
            type: string
          description: The record start time for the query (Unix millisecond timestamp).
      
        - in: query
          name: endTime
          required: false
          schema:
            type: string
          description: The end time of the record for the query (Unix millisecond timestamp).
      
        - in: query
          name: idLessThan
          required: false
          schema:
            type: string
          description: Requests the content on the page before this ID (older data). Should be the orderId of the corresponding interface.
      
        - in: query
          name: limit
          required: false
          schema:
            type: string
          description: 'Limit number of records returned (default: 100, max: 100).'
      
        - in: query
          name: orderId
          required: false
          schema:
            type: string
          description: Order ID.
      
        - in: query
          name: tpslType
          required: false
          schema:
            type: string
          description: "Order type (default: normal). Can be 'normal' for spot orders or 'tpsl' for spot TP/SL orders."
      
        - in: query
          name: requestTime
          required: false
          schema:
            type: string
          description: Request time (Unix millisecond timestamp).
      
        - in: query
          name: receiveWindow
          required: false
          schema:
            type: string
          description: Valid time window (Unix millisecond timestamp).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/OrderInfoResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/history-orders:
    get:
      tags: 
       -  Spot Trading-Trade
      summary: Get History Orders
      description: 'Frequency limit: 20 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - in: query
          name: symbol
          required: false
          schema:
            type: string
          description: Trading pair.
      
        - in: query
          name: startTime
          required: false
          schema:
            type: string
          description: The record start time for the query (Unix millisecond timestamp).
      
        - in: query
          name: endTime
          required: false
          schema:
            type: string
          description: The end time of the record for the query (Unix millisecond timestamp).
      
        - in: query
          name: idLessThan
          required: false
          schema:
            type: string
          description: Requests the content on the page before this ID (older data). Should be the orderId of the corresponding interface.
      
        - in: query
          name: limit
          required: false
          schema:
            type: string
          description: 'Limit number of records returned (default: 100, max: 100).'
      
        - in: query
          name: orderId
          required: false
          schema:
            type: string
          description: Order ID.
      
        - in: query
          name: tpslType
          required: false
          schema:
            type: string
          description: "Order type (default: normal). Can be 'normal' for spot orders or 'tpsl' for spot TP/SL orders."
      
        - in: query
          name: requestTime
          required: false
          schema:
            type: string
          description: Request time (Unix millisecond timestamp).
      
        - in: query
          name: receiveWindow
          required: false
          schema:
            type: string
          description: Valid time window (Unix millisecond timestamp).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                          $ref: "#/components/schemas/OrderInfoResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/fills:
    get:
      tags: 
       -  Spot Trading-Trade
      summary: Get Fills
      description: 'Frequency limit: 10 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - in: query
          name: symbol
          required: false
          schema:
            type: string
          description: Trading pair.
      
        - in: query
          name: startTime
          required: false
          schema:
            type: string
          description: The record start time for the query (Unix millisecond timestamp).
      
        - in: query
          name: endTime
          required: false
          schema:
            type: string
          description: The end time of the record for the query (Unix millisecond timestamp).
      
        - in: query
          name: idLessThan
          required: false
          schema:
            type: string
          description: Requests the content on the page before this ID (older data). Should be the orderId of the corresponding interface.
      
        - in: query
          name: limit
          required: false
          schema:
            type: string
          description: 'Limit number of records returned (default: 100, max: 100).'
      
        - in: query
          name: orderId
          required: false
          schema:
            type: string
          description: Order ID.
      
        - in: query
          name: requestTime
          required: false
          schema:
            type: string
          description: Request time (Unix millisecond timestamp).
      
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/TradeFillsResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/place-plan-order:
    post:
      tags: 
       -  Spot Trading-Triggers
      summary: Place plan order
      description: 'Frequency limit: 20 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanOrderRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/OrderResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/modify-plan-order:
    post:
      tags: 
       -  Spot Trading-Triggers
      summary: Place plan order
      description: 'Frequency limit: 20 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyOrderRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/OrderResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/cancel-plan-order:
    post:
      tags: 
       -  Spot Trading-Triggers
      summary: Cancel Plan order
      description: 'Frequency limit: 20 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderResponse"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        result:
                          type: string
                          example: "succcess"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/current-plan-order:
    get:
      tags: 
       -  Spot Trading-Triggers
      summary: Get Current Order
      description: 'Frequency limit: 10 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - in: query
          name: symbol
          required: false
          schema:
            type: string
          description: Trading pair.
      
        - in: query
          name: startTime
          required: false
          schema:
            type: string
          description: The record start time for the query (Unix millisecond timestamp).
      
        - in: query
          name: endTime
          required: false
          schema:
            type: string
          description: The end time of the record for the query (Unix millisecond timestamp).
      
        - in: query
          name: idLessThan
          required: false
          schema:
            type: string
          description: Requests the content on the page before this ID (older data). Should be the orderId of the corresponding interface.
      
        - in: query
          name: limit
          required: false
          schema:
            type: string
          description: 'Limit number of records returned (default: 100, max: 100).'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/CurrentPlanResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/plan-sub-order:
    get:
      tags: 
       -  Spot Trading-Triggers
      summary: Get Sub Order
      description: 'Frequency limit: 20 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - in: query
          name: planOrderId
          required: false
          schema:
            type: string
          description: Order Id
      
        
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                       $ref: "#/components/schemas/PlanSubOrderResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/history-plan-order:
    get:
      tags: 
       -  Spot Trading-Triggers
      summary: Get History Plan Orders
      description: 'Frequency limit: 20 times/1s (UID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - in: query
          name: symbol
          required: false
          schema:
            type: string
          description: Trading pair.
      
        - in: query
          name: startTime
          required: false
          schema:
            type: string
          description: The record start time for the query (Unix millisecond timestamp).
      
        - in: query
          name: endTime
          required: false
          schema:
            type: string
          description: The end time of the record for the query (Unix millisecond timestamp).
      
        - in: query
          name: idLessThan
          required: false
          schema:
            type: string
          description: Requests the content on the page before this ID (older data). Should be the orderId of the corresponding interface.
      
        - in: query
          name: limit
          required: false
          schema:
            type: string
          description: 'Limit number of records returned (default: 100, max: 100).'
      
        
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/CurrentPlanResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/trade/batch-cancel-plan-order:
    post:
      tags: 
       -  Spot Trading-Triggers
      summary: Cancel plan orders in batch
      description: 'Rate limit: 5 req/sec/UID'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbolList:
                  type: array
                  items:
                    type: string
                    example: ["BTCUSDT","ETHUSDT"]
                  
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/BatchPlaceResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/account/info:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get account information(SPOT read or SPOT read/write permission needed)
      description: 'Frequency limit: 1 time/1s (User ID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - $ref: "#/components/schemas/AccountResponse"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/account/assets:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get account Assets
      description: 'Frequency limit: 10 times/1s (User ID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - name: coin
          in: query
          required: false
          schema:
            type: string
          description: "Token name, e.g. USDT. This field is used for querying the positions of a single coin."
      
        - name: assetType
          in: query
          required: false
          schema:
            type: string
            enum:
              - hold_only
              - all
          description: "Asset type. 'hold_only' for position coin, 'all' for all coins. This field is used for querying the positions of multiple coins. Default is 'hold_only'. If only assetType is entered without coin, results of all eligible coins are returned. When both coin and assetType are entered, coin has higher priority."
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/AccountAssetsResponse"
                
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/account/subaccount-assets:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get Sub-accounts Assets(only return the sub-accounts which assets > 0).
      description: 'Frequency limit: 10 times/1s (User ID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/SubAccountAssetsResponse"
                
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/modify-deposit-account:
    post:
      tags: 
       -  Spot Trading-Account
      summary: Modify the auto-transfer account type of deposit.
      description: 'Frequency limit: 10 times/1s (User ID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyRequest"
            
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: string
                      example: success
                
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/account/bills:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get Account Bills
      description: 'Frequency limit: 10 times/1s (User ID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - in: query
          name: coin
          schema:
            type: string
          required: false
          description: "Token name, e.g., USDT."
        - in: query
          name: groupType
          schema:
            type: string
            enum: ["deposit", "withdraw", "transaction", "transfer", "other"]
          required: false
          description: "Billing type."
        - in: query
          name: businessType
          schema:
            type: string
            enum: ["deposit", "withdraw", "buy", "sell", "deduction of handling fee", "transfer-in", "transfer-out", "rebate rewards", "airdrop rewards", "USDT contract rewards", "mix contract rewards", "system lock", "user lock"]
          required: false
          description: "Business type for the billing entry."
        - in: query
          name: startTime
          schema:
            type: string
            format: int64
          required: false
          description: "The start time of the billing history, Unix millisecond timestamp, e.g., 1690196141868."
        - in: query
          name: endTime
          schema:
            type: string
            format: int64
          required: false
          description: "The end time of the billing history, Unix millisecond timestamp, e.g., 1690196141868. Interval must not exceed 90 days."
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            maximum: 500
          required: false
          description: "Number of results returned. Default is 100, max is 500."
        - in: query
          name: idLessThan
          schema:
            type: string
          required: false
          description: "Requests content on the page before this ID (older data), using the billId of the corresponding entry."

      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/AccountBillResponse"
                
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/transfer:
    post:
      tags: 
       -  Spot Trading-Account
      summary: Transfer assets between different productType accounts
      description: 'Frequency limit: 10 requests/second/UID'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/TransferResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/transfer-coin-info:
    post:
      tags: 
       -  Spot Trading-Account
      summary: Get transferable coin list
      description: 'Frequency limit: 10 times/1s (User ID)'
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - name: fromType
          in: query
          required: true
          schema:
            type: string
            enum: [spot, p2p, coin_futures, usdt_futures, usdc_futures, crossed_margin, isolated_margin]
          description: Source account type for the transfer.
        - name: toType
          in: query
          required: true
          schema:
            type: string
            enum: [spot, p2p, coin_futures, usdt_futures, usdc_futures, crossed_margin, isolated_margin]
          description: Destination account type for the transfer.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: string
                        example: ["BTC","USDT", "ETH" ]
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/subaccount-transfer:
    post:
      tags: 
       -  Spot Trading-Account
      summary: Transfer assets between different productType accounts
      description: "Frequency limit: 10 requests/second/UID</br>The types of transfers supported by this interface include<br>1- Parent account transfer to sub-accounts (only parent account APIKey has access)<br>2- Sub-accounts to parent account (only parent account APIKey has access)<br>3- Sub-accounts transfer to sub-accounts (only the parent account APIKey has access and the sub-accounts belong to same parent account)<br>4- Sub-account inner accounts transfer, e.g. spot to futures(only the parent account APIKey has access, and the fromUserId & toUserId should be same)<br>Only the parent account API Key can use this endpoint, and the API Key must bind IP"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubTransferRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/TransferResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/withdrawal:
    post:
      tags: 
       -  Spot Trading-Account
      summary: Transfer assets between different productType accounts
      description: "Frequency limit: 5 requests/second/UID</br>Coin withdrawals including on-chain withdrawals and internal transfers(the address needs to be added in the address book on web)"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WithdrawRequest"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/OrderResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/account/sub-main-trans-record:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get transfer record
      description: "Frequency limit: 20 requests/second/UID"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
        - name: coin
          in: query
          schema:
            type: string
          required: false
          description: Token name to filter the transfer records.
        - name: role
          in: query
          schema:
            type: string
            enum: [initiator, receiver]
            default: initiator
          required: false
          description: Transfer role type. Defaults to 'initiator'.
        - name: subUid
          in: query
          schema:
            type: string
          required: false
          description: Sub-account UID. If empty, only records from the main account are queried.
        - name: startTime
          in: query
          schema:
            type: string
            format: int64
          required: false
          description: Start time in Unix millisecond timestamp format to get the billing history after this time (e.g., 1690196141868).
        - name: endTime
          in: query
          schema:
            type: string
            format: int64
          required: false
          description: End time in Unix millisecond timestamp format to get the billing history before this time (e.g., 1690196141868). The interval between startTime and endTime must not exceed 90 days.
        - name: clientOid
          in: query
          schema:
            type: string
          required: false
          description: User-customized order ID.
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
          required: false
          description: Number of results returned. Default is 100, with a maximum of 100 results.
        - name: idLessThan
          in: query
          schema:
            type: string
          required: false
          description: Requests content before this ID for older data; input should be the `transferId` of the related record.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/MainSubTransferResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/account/transferRecords:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get transfer record
      description: "Frequency limit: 20 requests/second/UID"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
      - name: coin
        in: query
        required: true
        schema:
          type: string
        description: Token name (e.g., USDT)
      
      - name: fromType
        in: query
        required: true
        schema:
          type: string
          enum: 
            - spot
            - p2p
            - coin_futures
            - usdt_futures
            - usdc_futures
            - crossed_margin
            - isolated_margin
        description: Account type (e.g., spot, p2p, coin_futures, etc.)
    
      - name: startTime
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: Start time of the billing history in Unix milliseconds (e.g., 1690196141868)
    
      - name: endTime
        in: query
        required: false
        schema:
          type: string
          format: int64
        description: End time of the billing history in Unix milliseconds (e.g., 1690196141868). The interval between startTime and endTime must not exceed 90 days.
    
      - name: clientOid
        in: query
        required: false
        schema:
          type: string
        description: Order ID customized by the user
    
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          maximum: 500
        description: Number of results to return. Default is 100, with a maximum of 500.
    
      - name: idLessThan
        in: query
        required: false
        schema:
          type: string
        description: Requests content on the page before this ID (older data), using the transferId of the corresponding interface
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/TransferRecordResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/account/switch-deduct:
    post:
      tags: 
       -  Spot Trading-Account
      summary: Switch BGB Deduct
      description: "Frequency limit: 1 requests/second/UID"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deduct:
                  type: string
                  example: "on/off"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: boolean
                      example: true
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/deposit-address:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get Deposit Address
      description: "Frequency limit: 10 requests/second/UID"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
      - name: coin
        in: query
        required: true
        schema:
          type: string
          description: "Coin name, e.g., USDT. All coin names can be retrieved from the Get Coin Info interface."
      - name: chain
        in: query
        required: false
        schema:
          type: string
          description: "Chain name, e.g., trc20. Available chain names can be retrieved from the Get Coin Info interface."
      - name: size
        in: query
        required: false
        schema:
          type: string
          description: "Bitcoin Lightning Network withdrawal amount. Limits: 0.000001 - 0.01."
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/DepositResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/subaccount-deposit-address:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get Deposit Address
      description: "Frequency limit: 10 requests/second/UID"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
      - name: coin
        in: query
        required: true
        schema:
          type: string
          description: "Coin name, e.g., USDT. All coin names can be retrieved from the Get Coin Info interface."
      - name: chain
        in: query
        required: false
        schema:
          type: string
          description: "Chain name, e.g., trc20. Available chain names can be retrieved from the Get Coin Info interface."
      - name: size
        in: query
        required: false
        schema:
          type: string
          description: "Bitcoin Lightning Network withdrawal amount. Limits: 0.000001 - 0.01."
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/DepositResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/account/deduct-info:
    post:
      tags: 
       -  Spot Trading-Account
      summary: Get BGB Deduct Info
      description: "Frequency limit: 1 requests/second/UID"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        deduct:
                          type: boolean
                          example: "on"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/cancel-withdrawal:
    post:
      tags: 
       -  Spot Trading-Account
      summary: Cancel Withdrawal
      description: "Frequency limit: 1 requests/second/UID<br>The user center can set the switch [Cancel Withdrawal], and there is a 'regret period' of 1 minute to cancel the withdrawal.<br>There is manual review in the preliminary review status, and the withdrawal can be cancelled. Once the initial review is passed or uploaded to the chain, the withdrawal cannot be revoked.<br>Small-amount automatic currency withdrawals do not require manual review, and the withdrawal cannot be revoked."
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderid:
                  type: string
                  
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: string
                      example: "success"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/subaccount-deposit-records:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get SubAccount Deposit Records
      description: "Frequency limit: 10 requests/second/UID"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      parameters:
      - name: subUid
        in: query
        required: true
        description: "Sub Account UID"
        schema:
          type: string
    
      - name: coin
        in: query
        required: false
        description: "Coin name, e.g., USDT"
        schema:
          type: string
    
      - name: startTime
        in: query
        required: false
        description: "The record start time for the query. Unix millisecond timestamp, e.g., 1690196141868"
        schema:
          type: string
    
      - name: endTime
        in: query
        required: false
        description: "The end time of the record for the query. Unix millisecond timestamp, e.g., 1690196141868"
        schema:
          type: string
    
      - name: idLessThan
        in: query
        required: false
        description: "Requests the content on the page before this ID (older data), the value input should be the orderId of the corresponding interface"
        schema:
          type: string
    
      - name: limit
        in: query
        required: false
        description: "Number of entries per page. The default value is 20 and the maximum value is 100"
        schema:
          type: string
          default: "20"
          enum:
            - "20"
            - "50"
            - "100"

      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/SubaccountDepositResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/withdrawal-records:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get Withdrawal Records
      description: "Frequency limit: 10 times/1s (User ID)"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      
      parameters:
        - name: coin
          in: query
          description: Coin name (e.g., USDT)
          required: false
          schema:
            type: string
        - name: clientOid
          in: query
          description: Client customized ID
          required: false
          schema:
            type: string
        - name: startTime
          in: query
          description: The record start time for the query. Unix millisecond timestamp (e.g., 1690196141868)
          required: true
          schema:
            type: string
            format: int64
        - name: endTime
          in: query
          description: The end time of the record for the query. Unix millisecond timestamp (e.g., 1690196141868)
          required: true
          schema:
            type: string
            format: int64
        - name: idLessThan
          in: query
          description: Requests the content on the page before this ID (older data), should be the orderId of the corresponding interface
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          description: The response orderId
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: The number of entries per page. Default is 20, max 100
          required: false
          schema:
            type: string
            default: "20"
            enum:
              - "20"
              - "50"
              - "100"

      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/WithdrawResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /spot/wallet/deposit-records:
    get:
      tags: 
       -  Spot Trading-Account
      summary: Get Deposit Records(Not include Fiat deposit record)
      description: "Frequency limit: 10 times/1s (User ID)"
      security:
      - ApiKeyAuth: []
      - SignatureAuth: []
      - PassphraseAuth: []
      - TimestampAuth: []
      
      parameters:
        - name: coin
          in: query
          description: Coin name (e.g., USDT)
          required: false
          schema:
            type: string
        - name: clientOid
          in: query
          description: Client customized ID
          required: false
          schema:
            type: string
        - name: startTime
          in: query
          description: The record start time for the query. Unix millisecond timestamp (e.g., 1690196141868)
          required: true
          schema:
            type: string
            format: int64
        - name: endTime
          in: query
          description: The end time of the record for the query. Unix millisecond timestamp (e.g., 1690196141868)
          required: true
          schema:
            type: string
            format: int64
        - name: idLessThan
          in: query
          description: Requests the content on the page before this ID (older data), should be the orderId of the corresponding interface
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          description: The response orderId
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: The number of entries per page. Default is 20, max 100
          required: false
          schema:
            type: string
            default: "20"
            enum:
              - "20"
              - "50"
              - "100"

      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/WithdrawResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/vip-fee-rate:
    get:
      tags: 
       -  Future Trading-Market
      summary: VIP Fee Rate
      description: "Frequency limit: 10 times/1s (User ID)"
      
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/VIPFeeResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/union-interest-rate-history:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get Interest rate history
      description: "Frequency limit: 5 times/1s (User ID)"
      parameters:
        - in: query
          name: coin
          required: true
          schema:
            type: string
            example: "usdt"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      $ref: "#/components/schemas/InterestResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/exchange-rate:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get Interest Exchange Rate
      description: "Frequency limit: 5 times/1s (User ID)"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/ExchangeResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/discount-rate:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get Discount Rate
      description: "Frequency limit: 5 times/1s (User ID)"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/DiscountResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/merge-depth:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get merge depth data
      description: "Frequency limit: 20 times/1s (User ID)"
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: productType
          in: query
          required: true
          schema:
            type: string
            enum:
              - USDT-FUTURES
              - COIN-FUTURES
              - USDC-FUTURES
              - SUSDT-FUTURES
              - SCOIN-FUTURES
              - SUSDC-FUTURES
        - name: precision
          in: query
          required: false
          schema:
            type: string
            enum:
              - scale0
              - scale1
              - scale2
              - scale3
            default: scale0
        - name: limit
          in: query
          required: false
          schema:
            type: string
            enum:
              - '1'
              - '5'
              - '15'
              - '50'
              - '100'
            default: '100'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/DepthResponse"
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/ticker:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get Tickers Info
      description: "Get ticker data of the given 'productType' and 'symbol'"
      parameters:
        - in: query
          name: symbol
          required: true
          schema:
            type: string
            example: "symbol name e.g; BTCUSDT,if left blank will get all symbol's info"
        - in: query
          name: productType
          required: true
          schema:
            type: string
            example: "SUSDT-FUTURES"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/FutureTickerInfo"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/tickers:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get Tickers Info
      description: "Get ticker data of the given 'productType'"
      parameters:
        - in: query
          name: productType
          required: true
          schema:
            type: string
            example: "SUSDT-FUTURES"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/FutureTickerInfo"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/fills:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get Recent Transactions
      description: "Get the record of last 100 transactions"
      parameters:
        - in: query
          name: productType
          required: true
          schema:
            type: string
            example: "SUSDT-FUTURES"
        - in: query
          name: symbol
          required: true
          schema:
            type: string
            example: "BTCUSDT"
        - in: query
          name: limit
          required: false
          schema:
            type: string
            example: "100"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/FutureFillsInfo"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/fills-history:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get History Transactions
      description: "Frequency limit: 10 times/1s (IP)"
      parameters:
        - name: "symbol"
          in: "query"
          required: true
          schema:
            type: string
          description: "The trading pair (e.g., BTCUSDT)"
        
        - name: "productType"
          in: "query"
          required: true
          schema:
            type: string
            enum:
              - "USDT-FUTURES"
              - "COIN-FUTURES"
              - "USDC-FUTURES"
              - "SUSDT-FUTURES"
              - "SCOIN-FUTURES"
              - "SUSDC-FUTURES"
          description: "The product type"
        
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: string
            default: "500"
          description: "The number of queries, default is 500, maximum is 1000"
        
        - name: "idLessThan"
          in: "query"
          required: false
          schema:
            type: string
          description: "ID to query older data, the value should be the endId"
        
        - name: "startTime"
          in: "query"
          required: false
          schema:
            type: string
            example: "1597026383085"
          description: "Start timestamp in Unix milliseconds format"
        
        - name: "endTime"
          in: "query"
          required: false
          schema:
            type: string
            example: "1597026383085"
          description: "End timestamp in Unix milliseconds format"
          
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/FutureFillHistoryInfo"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/candles:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get History Transactions
      description: "By default, 100 records are returned. If there is no data, an empty array is returned. The queryable data history varies depending on the k-line granularity.<br>The rules are as follows:<br>1m, 3m, and 5m can be checked for up to one month;<br>15m can be checked for up to 52 days;<br>30m can be searched for up to 62 days;<br>1H can be checked for up to 83 days;<br>2H can be checked for up to 120 days;<br>4H can be checked for up to 240 days;<br>6H can be checked for up to 360 days"
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: "BTCUSDT"
        - name: productType
          in: query
          required: true
          schema:
            type: string
            enum:
              - USDT-FUTURES
              - COIN-FUTURES
              - USDC-FUTURES
              - SUSDT-FUTURES
              - SCOIN-FUTURES
              - SUSDC-FUTURES
          example: "USDT-FUTURES"
        - name: granularity
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 3m
              - 5m
              - 15m
              - 30m
              - 1H
              - 4H
              - 6H
              - 12H
              - 1D
              - 3D
              - 1W
              - 1M
              - 6Hutc
              - 12Hutc
              - 1Dutc
              - 3Dutc
              - 1Wutc
              - 1Mutc
          example: "1m"
        - name: startTime
          in: query
          required: false
          schema:
            type: string
            example: "1672410780000"
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            example: "1672410780000"
        - name: kLineType
          in: query
          required: false
          schema:
            type: string
            enum:
              - MARKET
              - MARK
              - INDEX
          example: "MARKET"
        - name: limit
          in: query
          required: false
          schema:
            type: string
            enum:
              - "100"
              - "500"
              - "1000"
          example: "100"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/Candles"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/history-candles:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get History Transactions
      description: "Frequency limit: 20 times/1s (IP).Query all historical K-line data and return a maximum of 200 pieces of data."
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: "BTCUSDT"
        - name: productType
          in: query
          required: true
          schema:
            type: string
            enum:
              - USDT-FUTURES
              - COIN-FUTURES
              - USDC-FUTURES
              - SUSDT-FUTURES
              - SCOIN-FUTURES
              - SUSDC-FUTURES
          example: "USDT-FUTURES"
        - name: granularity
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 3m
              - 5m
              - 15m
              - 30m
              - 1H
              - 4H
              - 6H
              - 12H
              - 1D
              - 3D
              - 1W
              - 1M
              - 6Hutc
              - 12Hutc
              - 1Dutc
              - 3Dutc
              - 1Wutc
              - 1Mutc
          example: "1m"
        - name: startTime
          in: query
          required: false
          schema:
            type: string
            example: "1672410780000"
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            example: "1672410780000"
        - name: kLineType
          in: query
          required: false
          schema:
            type: string
            enum:
              - MARKET
              - MARK
              - INDEX
          example: "MARKET"
        - name: limit
          in: query
          required: false
          schema:
            type: string
            enum:
              - "100"
              - "500"
              - "1000"
          example: "100"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/Candles"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/history-index-candles:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get History Transactions
      description: "Frequency limit: 20 times/1s (IP).Query the historical K-line data of contract index price, and return a maximum of 200 pieces of data."
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: "BTCUSDT"
        - name: productType
          in: query
          required: true
          schema:
            type: string
            enum:
              - USDT-FUTURES
              - COIN-FUTURES
              - USDC-FUTURES
              - SUSDT-FUTURES
              - SCOIN-FUTURES
              - SUSDC-FUTURES
          example: "USDT-FUTURES"
        - name: granularity
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 3m
              - 5m
              - 15m
              - 30m
              - 1H
              - 4H
              - 6H
              - 12H
              - 1D
              - 3D
              - 1W
              - 1M
              - 6Hutc
              - 12Hutc
              - 1Dutc
              - 3Dutc
              - 1Wutc
              - 1Mutc
          example: "1m"
        - name: startTime
          in: query
          required: false
          schema:
            type: string
            example: "1672410780000"
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            example: "1672410780000"
        - name: limit
          in: query
          required: false
          schema:
            type: string
            enum:
              - "100"
              - "500"
              - "1000"
          example: "100"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               allOf:
                - $ref: "#/components/schemas/GeneralResponse"
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: "#/components/schemas/Candles"
                
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /mix/market/history-mark-candles:
    get:
      tags: 
       -  Future Trading-Market
      summary: Get History Transactions
      description: "Frequency limit: 20 times/1s (IP).Query the historical K-line data of contract index price, and return a maximum of 200 pieces of data."
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: "BTCUSDT"
        - name: productType
          in: query
          required: true
          schema:
            type: string
            enum:
              - USDT-FUTURES
              - COIN-FUTURES
              - USDC-FUTURES
              - SUSDT-FUTURES
              - SCOIN-FUTURES
              - SUSDC-FUTURES
          example: "USDT-FUTURES"
        - name: granularity
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 3m
              - 5m
              - 15m
              - 30m
              - 1H
              - 4H
              - 6H
              - 12H
              - 1D
              - 3D
              - 1W
              - 1M
              - 6Hutc
              - 12Hutc
              - 1Dutc
              - 3Dutc
              - 1Wutc
              - 1Mutc
          example: "1m"
        - name: startTime
          in: query
          required: false
          schema:
            type: string
            example: "1672410780000"
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            example: "1672410780000"
        - name: limit
          in: query
          required: false
          schema:
            type: string
            enum:
              - "100"
              - "500"
              - "1000"
          example: "100"
      responses:
        '200':
          description: Successful response
          content:
[...]
