openapi: 3.0.0
info:
  title: Bitwyre REST API 
  version: 1.0.0
  description: |
    
servers:
  - url: https://api.bitwyre.com
    description: REST API URL
security:  # Global security requirements (applied to all operations)
  - ApiKeyAuth: []
  - ApiSignAuth: []
tags:
  - name: Public API Endpoints
  - name: Private API Endpoints
  - name: Derivatives API Endpoints
  - name: Convert/Instant API Endpoints
  - name: Custodian API Endpoints
  - name: KYC Endpoints
  - name: ESCROW Endpoints
  - name: UDF/Trading API Endpoints
paths:
  /public/time:
    get:
      tags: 
       -  Public API Endpoints
      summary: Retrieve server time
      description: Returns the server's current time in nanoseconds, allowing approximation of the time difference between the server and client.
      responses:
        '200':
          description: Successful response containing the server's current time.
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/time"
               
                
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/markets:
    get:
      tags: 
       -  Public API Endpoints
      summary: Returns tradable markets array
      responses:
        '200':
          description: Successful response containing the server's current time.
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/markets"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/products:
    get:
      tags: 
       -  Public API Endpoints
      summary: Returns tradable products array
      responses:
        '200':
          description: Successful response containing the server's current time.
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/products"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/assets:
    get:
      tags: 
       -  Public API Endpoints
      summary: Returns an array filled with supported assets.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/assets"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/assets/crypto:
    get:
      tags: 
       -  Public API Endpoints
      summary: Returns an array filled with supported crypto assets.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/cryptoAssets"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/assets/fiat:
    get:
      tags: 
       -  Public API Endpoints
      summary: Returns an array filled with supported fiat assets.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/Fiat"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/pairs:
    get:
      tags: 
       -  Public API Endpoints
      parameters:
        - name: market
          in: query
          required: true
          schema:
            type: string
            enum: [crypto, forex]
            description: The market type (e.g., crypto, forex).
            example: "crypto"
        - name: product
          in: query
          required: true
          schema:
            type: string
            enum: [spot, futures]
            description: The product type (e.g., spot, futures).
            example: "spot"
        - name: country
          in: query
          required: false
          schema:
            type: string
            description: The country to filter market pairs.
            example: "ID"
      summary: Returns an underscore _ delimited tradable asset pairs array.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/pairs"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/ticker:
    get:
      tags: 
       -  Public API Endpoints
      parameters:
        - name: instrument
          in: query
          schema:
            type: string
            description: The market type (e.g., crypto, forex).
            example: "btc_idr_spot"
        
      summary: Returns ticker information for an asset pair.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/ticker"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/trades:
    get:
      tags: 
       -  Public API Endpoints
      parameters:
        - name: instrument
          in: query
          schema:
            type: string
            description: The market type (e.g., crypto, forex).
            example: "btc_idr_spot"
        - name: trade_num
          in: query
          schema:
            type: integer
            example: 2
        
      summary: Returns last trade_num trades for an asset pair.Limited to a maximum of 50 last trades.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/trades"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/depth:
    get:
      tags: 
       -  Public API Endpoints
      parameters:
        - name: instrument
          in: query
          schema:
            type: string
            description: The market type (e.g., crypto, forex).
            example: "btc_idr_spot"
        - name: depth_num
          in: query
          schema:
            type: integer
            example: 2
        
      summary: Returns depth data for an asset pair.LLimited to a maximum of 150 data points.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/depth"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/contract:
    get:
      tags: 
       -  Public API Endpoints
      parameters:
        - name: instrument
          in: query
          schema:
            type: string
            description: The market type (e.g., crypto, forex).
            example: "btc_idr_spot"
        
      summary: Returns contract details for a derivative instrument/asset pair.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/contract"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/withdrawal/fiat/method:
    get:
      tags: 
       -  Public API Endpoints
      parameters:
        - name: assets
          in: query
          schema:
            type: string
            example: "all"
        - name: payment_type
          in: query
          schema:
            type: string
            example: "all"
        - name: merchant_id
          in: query
          schema:
            type: string
            example: "all"
        
      summary: Get fiat withdrawal method data
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/fiatMethod"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/insider:
    get:
      tags: 
       -  Public API Endpoints
      parameters:
        - name: username
          in: query
          schema:
            type: string
            example: "satoshi"
      summary: Returns insider user profiles info
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/insider"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/insider/trades:
    get:
      tags: 
       -  Public API Endpoints
      parameters:
        - name: username
          in: query
          schema:
            type: string
            example: "satoshi"
      summary: Returns user insider's trades data info
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/trade"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/announcements:
    get:
      tags: 
       -  Public API Endpoints
      summary: Returns announcement with the server's time.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/announcement"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/ordertypes:
    get:
      tags: 
       -  Public API Endpoints
      summary: Returns enumeration of order types.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/orderTypes"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/languages:
    get:
      tags: 
       -  Public API Endpoints
      summary: Returns pairs of supported languages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/languages"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/search:
    get:
      tags: 
       -  Public API Endpoints
      summary: Retrieve search query and Search ticker, trades, and depth data in one endpoint
      parameters:
        - in: query
          name: country
          required: true
          schema:
            type: string
            example: "US"
        - in: query
          name: instrument
          required: false
          schema:
            type: string
            example: "btc_usdt_spot"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  oneOf:
                   - $ref: "#/components/schemas/queries"
                   - $ref: "#/components/schemas/searchResults"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/index:
    get:
      tags: 
       -  Public API Endpoints
      summary: An aggregate of an instrument's current market price
      description: An aggregate of an instrument's current market price, collected from multiple third party sources and major exchanges Indices are calculated by fetching orderbook per exchanges, getting their bid-ask spread, then averaging their prices. It is calculated every second by our backend. Current sources are:<br>Binance <br>Bitfinex<br>Bitstamp<br>Coinbase<br>Huobi<br>Okex
      parameters:
        - name: instrument
          in: query
          required: true
          schema:
            type: string
            example: "btc_usdt_spot"
        - name: amount
          in: query
          required: false
          schema:
            type: integer
            example: 1000
        - name: to_time
          in: query
          required: false
          schema:
            type: integer
            example: 35241372327372
        - name: from_time
          in: query
          required: false
          schema:
            type: integer
            example: 1269847367332
        - name: ascending
          in: query
          required: false
          schema:
            type: boolean
            example: false
        
        
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/index"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/orderlag:
    get:
      tags: 
       -  Public API Endpoints
      summary: Return order lag of matching engine per instrument (in events)
      parameters:
        - name: instrument
          in: query
          required: false
          schema:
            type: string
            example: "btc_usdt_spot"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/orderLags"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/throughput:
    get:
      tags: 
       -  Public API Endpoints
      summary: Return throughput rate data of matching engine of the instrument (in events/second), in addition of consumer and max lag data of the instrument.
      parameters:
        - name: instrument
          in: query
          required: false
          schema:
            type: string
            example: "btc_usdt_spot"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/throughput"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/otc:
    get:
      tags: 
       -  Public API Endpoints
      summary: Return Ask Price and Bid Price real time.
      parameters:
        - name: base_asset
          in: query
          required: true
          schema:
            type: string
            example: "btc"
        - name: code_asset
          in: query
          required: true
          schema:
            type: string
            example: "usd"
        - name: spread
          in: query
          required: true
          schema:
            type: number
            example: 1.0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/OTC"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /public/convert:
    get:
      tags: 
       -  Public API Endpoints
      summary: Return Ask Price and Bid Price real time.
      parameters:
        - name: from_coin
          in: query
          required: true
          schema:
            type: string
            example: "btc"
        - name: to_coin
          in: query
          required: true
          schema:
            type: string
            example: "usdt"
        - name: size
          in: query
          required: true
          schema:
            type: string
            example: "2"
        - name: value
          in: query
          required: true
          schema:
            type: string
        - name: convert_uuid
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/conversion"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/account/spotbalance:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieve all user's fiat and crypto balance.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
          - in: query
            name: page
            schema:
              type: integer
            description: Page number
            required: false
          - in: query
            name: per_page
            schema:
              type: integer
            description: Number of results to show per page
            required: false
          - in: query
            name: use_pagination
            schema:
              type: boolean
            description: Whether to enable pagination
            required: false
          - in: query
            name: asset
            schema:
              type: string
            description: Asset name (e.g., BTC)
            required: false

      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/spot_account"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
    post:
      tags: 
       -  Private API Endpoints
      summary: Move a user's fiat and crypto balance for derivatives trading.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSchema"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/spotAccountResponse"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/account/statement:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieve user's withdraw and deposit history.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
            description: Unique identifier for the request
          required: true
        - in: query
          name: checksum
          schema:
            type: string
            description: Payload checksum (specific generation logic depends on Bitwyre)
          required: true
        - in: query
          name: asset
          schema:
            type: string
            description: The asset for which to retrieve the statement
          required: true
        - in: query
          name: payload
          schema:
            type: string
            description: Encoded payload data (specific format depends on Bitwyre)
          required: true
        - in: query
          name: page
          schema:
            type: integer
            description: Page number for pagination (optional)
          required: false
        - in: query
          name: per_page
          schema:
            type: integer
            description: Number of results per page (optional)
          required: false

      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/statementResponse"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/fees/withdrawal:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieve user's withdraw fees.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
            description: Unique identifier for the request
          required: true
        - in: query
          name: checksum
          schema:
            type: string
            description: Payload checksum (specific generation logic depends on Bitwyre)
          required: true
        - in: query
          name: payload
          schema:
            type: object
            properties:
              assets:
                type: string
                example: "all"
          required: true
        
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/feeResponse"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/account/transactions:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieve user's withdraw, deposit, and clearing history.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
            description: Unique identifier for the request
          required: true
        - in: query
          name: checksum
          schema:
            type: string
            description: Payload checksum (specific generation logic depends on Bitwyre)
          required: true
        - in: query
          name: type
          schema:
            type: string
            example: "all"
          required: false
        - in: query
          name: assets
          schema:
            type: string
            example: "all"
          required: false
        - in: query
          name: page
          schema:
            type: integer
            example: 2
          required: false
        - in: query
          name: per_page
          schema:
            type: integer
            example: 20
          required: false
        
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/transactions"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/qty_percentage:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieve user's possible order amount/quantity from 1-100% based on price, order type and order side
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: order_type
          schema:
            type: integer
            
          required: true
        - in: query
          name: order_side
          schema:
            type: integer
            enum: [1,2] #1:buy,2:sell
          required: true
        - in: query
          name: instrument
          schema:
            type: string
            example: "btc_usdt_spot"
          required: true
        - in: query
          name: price
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/percentages"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders:
    post:
      tags: 
       -  Private API Endpoints
      summary: Opening new order
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSchema"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/newOrder"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/open:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves curent open orders.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: payload
          schema:
            type: object
            properties:
              instrument:
                type: string
                example: "btc_usdt_spot"
              from_time:
                type: integer
              to_time:
                type: integer
          required: true
        - in: query
          name: page
          schema:
            type: integer
          required: false
        - in: query
          name: per_page
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/openOrders"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/open/all:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves curent open orders.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: payload
          schema:
            type: object
            properties:
              instrument:
                type: string
                example: "btc_usdt_spot"
              from_time:
                type: integer
              to_time:
                type: integer
          required: true
        - in: query
          name: page
          schema:
            type: integer
          required: false
        - in: query
          name: per_page
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/openOrders"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/closed:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves currently closed orders. Similar to order history.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: payload
          schema:
            type: object
            properties:
              instrument:
                type: string
                example: "btc_usdt_spot"
              from_time:
                type: integer
              to_time:
                type: integer
          required: true
        - in: query
          name: page
          schema:
            type: integer
          required: false
        - in: query
          name: per_page
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/openOrders"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/closed/all:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves currently closed orders. Similar to order history.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: payload
          schema:
            type: object
            properties:
              instrument:
                type: string
                example: "btc_usdt_spot"
              from_time:
                type: integer
              to_time:
                type: integer
          required: true
        - in: query
          name: page
          schema:
            type: integer
          required: false
        - in: query
          name: per_page
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/openOrders"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/cancelled:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves all cancelled orders. Similar to order history.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/cancelledOrder"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/info/{order_id}:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves all cancelled orders. Similar to order history.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: string
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: payload
          required: true
          schema:
            type: object
            properties:
              page:
                type: integer
              per_page:
                type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/newOrder"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/histories:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves all order histories for current instrument.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: payload
          required: true
          schema:
            type: object
            properties:
              instrument:
                type: string
              from_time:
                type: integer
              to_time:
                type: integer
        - in: query
          name: page
          required: true
          schema:
            type: integer
        - in: query
          name: per_page
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/orderHistory"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/journey:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves all order histories for current order_id.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: payload
          required: true
          schema:
            type: object
            properties:
              order_id:
                type: string
                example: "da5f12ea-8c7c-4cab-83a2-c2191"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/orderJourney"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/cancel:
    delete:
      tags: 
       -  Private API Endpoints
      summary: Cancels a specific order.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: payload
          required: true
          schema:
            type: object
            properties:
              order_ids:
                type: array
                items:
                  type: string
                  example: "da5f12ea-8c7c-4cab-83a2-c2191"
              qtys:
                type: array
                items:
                  type: integer
                  example: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/newOrder"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/cancel/instrument/{instrument}:
    delete:
      tags: 
       -  Private API Endpoints
      summary: Cancels a specific order.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: path
          name: instrument
          required: true
          schema:
            type: string
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: payload
          required: true
          schema:
            type: object
            properties:
              order_ids:
                type: array
                items:
                  type: string
                  example: "da5f12ea-8c7c-4cab-83a2-c2191"
              qtys:
                type: array
                items:
                  type: integer
                  example: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/newOrder"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/positions/close:
    delete:
      tags: 
       -  Private API Endpoints
      summary: Closing a specific position or all positions.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: payload
          required: true
          schema:
            type: object
            properties:
              position_ids:
                type: array
                items:
                  type: string
                  example: "da5f12ea-8c7c-4cab-83a2-c2191"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/newOrder"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/orders/position/close/instrument/{instrument}:
    delete:
      tags: 
       -  Private API Endpoints
      summary: Closes all open position for a specific instrument.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: path
          name: instrument
          required: true
          schema: 
            type: string
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/newOrder"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/trades:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves some latest buying/selling transaction history.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: payload
          required: true
          schema:
            type: object
            properties:
              instrument:
                type: string
                example: "btc_usdt_spot"
              count:
                type: integer
              from_time:
                type: integer
              to_time:
                type: integer
        - in: query
          name: page
          required: false
          schema:
            type: integer
        - in: query
          name: per_page
          required: false
          schema:
            type: integer
            
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/trade"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/account/notifications/trading:
    get:
      tags: 
       -  Private API Endpoints
      summary: Retrieves some latest buying/selling transaction history.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: trading_notification_type
          required: false
          schema:
            type: integer
            enum: [0,1,2,3,4,5]#0:OrderRejected,1:OrderCancelled,2:OrderFilled,3:Deposit,4:Withdrawal,5:KYC
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/trading"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/favorites:
    get:
      tags: 
       -  Private API Endpoints
      summary: Search ticker, trades, and depth data of pairs in one endpoint.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: instrument
          required: false
          schema:
            type: array
            items:
              type: string
              example: ["btc_usdt_spot"]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/favorites"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/derivatives/account:
    get:
      tags: 
       -  Derivatives API Endpoints
      summary: Get Account Collateral Informations
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/derivatives"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/derivatives/leverage:
    get:
      tags: 
       -  Derivatives API Endpoints
      summary: Get Current Leverage
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: instrument
          required: true
          schema:
            type: string
            example: "btc_usdt_spot"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/leverage"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
    post:
      tags: 
       -  Derivatives API Endpoints
      summary: update Leverage
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: instrument
          required: true
          schema:
            type: string
            example: "btc_usdt_spot"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSchema"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/updatedleverage"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/derivatives/positions:
    get:
      tags: 
       -  Derivatives API Endpoints
      summary: Get Open Positions
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: instrument
          required: true
          schema:
            type: string
        - in: query
          name: page
          required: true
          schema:
            type: integer
            example: 1
        - in: query
          name: per_page
          required: true
          schema:
            type: integer
            example: 20
            
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                meta:
                  $ref: "#/components/schemas/meta"
                result:
                  $ref: "#/components/schemas/positions"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/derivatives/reduce:
    get:
      tags: 
       -  Private API Endpoints
      summary: Reduce Position.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: payload
          required: true
          schema:
            type: object
            properties:
              position_uuid:
                type: string
              size:
                type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/reduce"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/derivatives/close:
    get:
      tags: 
       -  Private API Endpoints
      summary: close Position.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          schema:
            type: integer
          required: false
        - in: query
          name: checksum
          schema:
            type: integer
          required: false
        - in: query
          name: payload
          required: true
          schema:
            type: object
            properties:
              position_uuid:
                type: string
              size:
                type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/reduce"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/convert:
    post:
      tags: 
       -  Convert/Instant API Endpoints
      summary: Create a convert request. Once this convert request is complete, it will send a POST request to the URL set in the set URL callback method below. The body of the callback request will be in this format.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSchema"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/conversionResponse"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
    get:
      tags: 
       -  Convert/Instant API Endpoints
      summary: get convert status
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          required: true
          schema:
            type: integer
        - in: query
          name: checksum
          required: true
          schema:
            type: string
        - in: query
          name: convert_uuid
          required: true
          schema:
           type: string
            
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/conversions"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/convert/payment_methods:
    get:
      tags: 
       -  Convert/Instant API Endpoints
      summary: get convert status
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          required: true
          schema:
            type: integer
        - in: query
          name: checksum
          required: true
          schema:
            type: string
        - in: query
          name: type
          required: true
          schema:
           type: string
           example: "all"
            
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/payment_methods"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/convert/status:
    get:
      tags: 
       -  Convert/Instant API Endpoints
      summary: Get Convert Status Data
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          required: true
          schema:
            type: integer
        - in: query
          name: checksum
          required: true
          schema:
            type: string
        - in: query
          name: convert_uuid
          required: true
          schema:
           type: string
           
            
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/convert_status"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/convert/vault:
    post:
      tags: 
       -  Convert/Instant API Endpoints
      summary: Create Vault Convert
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSchema"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/vaultResponse"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
    get:
      tags: 
       -  Convert/Instant API Endpoints
      summary: get Vault Convert
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: query
          name: nonce
          required: true
          schema:
            type: integer
        - in: query
          name: checksum
          required: true
          schema:
            type: string
        - in: query
          name: asset
          required: true
          schema:
            type: string
        - in: query
          name: network_id
          required: false
          schema:
            type: string
        - in: query
          name: convert_uuid
          required: false
          schema:
            type: string
        - in: query
          name: address
          required: false
          schema: 
            type: string
        - in: query
          name: tx_id
          required: false
          schema:
            type: string
        - in: query
          name: page
          required: false
          schema: 
            type: integer
        - in: query
          name: per_page
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                meta:
                  $ref: "#/components/schemas/meta"
                result:
                  $ref: "#/components/schemas/depositInfo"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/deposit/callback:
    put:
      tags: 
       -  Convert/Instant API Endpoints
      summary: Set a convert URL callback to make sure after a deposit on a conversion request is successful, it will submit a POST request to hit this endpoint
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSchema"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/callbackResponse"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/convert/callback:
    put:
      tags: 
       -  Convert/Instant API Endpoints
      summary: Set a convert URL callback to make sure after a conversion request successful, it will submit a POST request to hit this endpoint.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSchema"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/callbackResponse"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/withdrawal/callback:
    put:
      tags: 
       -  Convert/Instant API Endpoints
      summary: Set a convert URL callback to make sure after a deposit on a conversion request is successful, it will submit a POST request to hit this endpoint.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSchema"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/callbackResponse"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/account/withdrawal/crypto:
    post:
      tags: 
       -  Custodian API Endpoints
      summary: Creating a New Crypto Withdrawal Request.
      description: Creates a new withdrawal request for a given asset with the given amount.<br>A confirmation email will be sent and contains instruction on how to confirm the withdrawal request.<br>The transaction will not be processed before a confirmation is conducted.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSchema"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/statementData"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/account/withdrawal/crypto/verify/{withdrawal_id}/{verification_uuid}:
    get:
      tags: 
       -  Custodian API Endpoints
      summary: Creating a New Crypto Withdrawal Request.
      description: Creates a new withdrawal request for a given asset with the given amount.<br>A confirmation email will be sent and contains instruction on how to confirm the withdrawal request.<br>The transaction will not be processed before a confirmation is conducted.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: path
          name: withdrawal_id
          required: true
          schema:
            type: string
        - in: path
          name: verification_uuid
          required: true
          schema:
            type: string
        
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
               type: object
               properties:
                error:
                  $ref: "#/components/schemas/Error"
                result:
                  $ref: "#/components/schemas/verifyWithdraw"
        '500':
          description: Internal server error.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '405':
          description: Method not allowed
        '406':
          description: Not acceptable
        '410':
          description: Gone
        '418':
          description: banned request
        '422':
          description: Unprocessible entity
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
  /private/account/withdrawal/crypto/{asset}/{withdrawal_id}:
    get:
      tags: 
       -  Custodian API Endpoints
      summary: Retrieves a withdrawal request's details.
      security:
        - ApiKeyAuth: []
        - ApiSignAuth: []
      parameters:
        - in: path
          name: withdrawal_id
          required: true
          schema:
            type: string
        - in: path
          name: asset
          required: true
          schema:
            type: string
        - in: query
          name: nonce
          required: true
          schema:
            type: integer
        - in: query
          name: checksum
          required: true
          schema:
            type: string
        - in: query
[...]
