openapi: 3.0.0
info:
  title: Kraken API 
  version: 1.0.0
  description: |
    
servers:
  - url: https://futures.kraken.com
    description: Futures REST API
tags:
  - name: Trading
  - name: History
  - name: Charts
security:
  - APIKeyAuth: []
  - AuthentKey: []
paths:
  /derivatives/api/v3/history:
    get:
      tags: 
       -  Trading
      summary: Get trade history-Market Data
      description: "This endpoint returns the most recent 100 trades prior to the specified lastTime value up to past 7 days or recent trading engine restart (whichever is sooner).<br>If no lastTime specified, it will return 100 most recent trades."
      parameters:
        - in: query
          name: symbol
          required: false
          schema:
            type: string
            example: "The symbol of the Futures"
        - in: query
          name: lastTime
          required: false
          schema:
            type: string
            example: "Returns the last 100 trades from the specified lastTime value."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/successResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/orderbook:
    get:
      tags: 
       -  Trading
      summary: Get Orderbook-Market Data
      description: "This endpoint returns the entire non-cumulative order book of currently listed Futures contracts."
      parameters:
        - in: query
          name: symbol
          required: true
          schema:
            type: string
            example: "The symbol of the Futures"
        
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orderbookResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/tickers:
    get:
      tags: 
       -  Trading
      summary: Get tickers-Market Data
      description: "This endpoint returns current market data for all currently listed Futures contracts and indices."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tickersResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/tickers/{symbol}:
    get:
      tags: 
       -  Trading
      summary: Get tickers by symbol-Market Data
      description: "This endpoint returns current market data for all currently listed Futures contracts and indices."
      parameters:
        - in: path
          name: symbol
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tickersItems"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/instruments:
    get:
      tags: 
       -  Trading
      summary: Get Instrument-Instrument Details
      description: "This endpoint returns specifications for all currently listed Futures contracts and indices."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/instrumentsResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/instruments/status:
    get:
      tags: 
       -  Trading
      summary: Get instrument status list-Instrument Details
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/instrumentStatusResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/instruments/{tradeable}/status:
    get:
      tags: 
       -  Trading
      summary: Get instrument status-Instrument Details
      parameters:
        - in: path
          name: tradeable
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tradeableResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/feeschedules:
    get:
      tags: 
       -  Trading
      summary: Get Fee schedules-Fee Schedules
      description: "This endpoint lists all fee schedules."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feeResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/feeschedules/volumes:
    get:
      tags: 
       -  Trading
      summary: Get Fee schedules Volumes-Fee Schedules
      description: "Returns your fee schedule volumes for each fee schedule."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feeVolumeResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/accounts:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get Wallets-Account Information
      description: "This endpoint returns key information relating to all your accounts which may either be cash accounts or margin accounts. This includes digital asset balances, instrument balances, margin requirements, margin trigger estimates and auxiliary information such as available funds, PnL of open positions and portfolio value."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountsResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/openpositions:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get open positions-Account Information
      description: "This endpoint returns the size and average entry price of all open positions in Futures contracts. This includes Futures contracts that have matured but have not yet been settled."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/openPositionsResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/unwindqueue:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get position percentile-Account Information
      description: "This endpoint returns the percentile of the open position in case of unwinding."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/positionResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/batchorder:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Batch order management-Order Management
      description: "This endpoint allows sending limit or stop order(s) and/or cancelling open order(s) and/or editing open order(s) for a currently listed Futures contract in batch.<br>When editing an order, if the trailingStopMaxDeviation and trailingStopDeviationUnit parameters are sent unchanged, the system will recalculate a new stop price upon successful order modification."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/batchOrderRequest"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchOrderResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/cancelallorders:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Batch order Cancel-Order Management
      description: "This endpoint allows cancelling orders which are associated with a future's contract or a margin account. If no arguments are specified all open orders will be cancelled."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  description: "A futures product to cancel all open orders."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cancelOrderResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/cancelallordersafter:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Dead man's Switch-Order Management
      description: "This endpoint provides a Dead Man's Switch mechanism to protect the user from network malfunctions. The user can send a request with a timeout in seconds which will trigger a countdown timer that will cancel all user orders when timeout expires. The user has to keep sending request to push back the timeout expiration or they can deactivate the mechanism by specifying a timeout of zero (0).<br>The recommended mechanism usage is making a call every 15 to 20 seconds and provide a timeout of 60 seconds. This allows the user to keep the orders in place on a brief network failure, while keeping them safe in case of a network breakdown."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeout:
                  type: string
                  description: "The timeout specified in seconds."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deadManSwitchResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/cancelorder:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Cancel Order-Order Management
      description: "This endpoint allows cancelling an open order for a Futures contract."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: The unique identifier of the order to be cancelled.
                cliOrdId:
                  type: string
                  description: The client unique identifier of the order to be cancelled.
                processBefore:
                  type: string
                  format: date-time
                  description: The time before which the request should be processed; otherwise, it is rejected
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cancelResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/editorder:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Edit Order-Order Management
      description: "This endpoint allows editing an existing order for a currently listed Futures contract.<br>When editing an order, if the trailingStopMaxDeviation and trailingStopDeviationUnit parameters are sent unchanged, the system will recalculate a new stop price upon successful order modification."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/editOrder"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/editOrderResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/openorders:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Open Order-Order Management
      description: "This endpoint returns information on all open orders for all Futures contracts."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/openOrderResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/sendorder:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Send Order-Order Management
      description: "This endpoint allows sending a limit, stop, take profit or immediate-or-cancel order for a currently listed Futures contract."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/sendOrderRequest"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sendOrderResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/orders/status:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get Specific Orders' Status-Order Management
      description: "Returns information on specified orders which are open or were filled/cancelled in the last 5 seconds."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: UIDs associated with orders or triggers.
                cliOrdIds:
                  type: array
                  items:
                    type: string
                  description: Client Order IDs associated with orders or triggers.
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orderResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/initialmargin:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get initial margin requirements-Order Management
      description: "Get initial margin requirements."
      parameters:
        - in: query
          name: orderType
          required: true
          description: The order type.
          schema:
            type: string
            enum: [lmt, mkt]
            example: lmt
        - in: query
          name: symbol
          required: true
          description: The symbol of the Futures.
          schema:
            type: string
            example: BTCUSD
        - in: query
          name: side
          required: true
          description: The direction of the order.
          schema:
            type: string
            enum: [buy, sell]
            example: buy
        - in: query
          name: size
          required: true
          description: The size associated with the order.
          schema:
            type: number
            example: 1.0
        - in: query
          name: limitPrice
          description: The limit price associated with the order.
          schema:
            type: number
            example: 50000.0
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orderMarginResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/initialmargin/maxordersize:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get maximum order size-Order Management
      description: "This endpoint is only supported for multi-collateral futures."
      parameters:
        - in: query
          name: orderType
          required: true
          description: The order type.
          schema:
            type: string
            enum: [lmt, mkt]
            example: lmt
        - in: query
          name: symbol
          required: true
          description: The symbol of the Futures.
          schema:
            type: string
            example: BTCUSD
        - in: query
          name: limitPrice
          description: The limit price associated with the order.
          schema:
            type: number
            example: 50000.0
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/maxOrderResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/subaccount/{subaccountUid}/trading-enabled:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: subaccount status-Subaccounts
      description: "Check if a subaccount has trading enabled or disabled."
      parameters:
        - in: path
          name: subaccountUid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: boolean
                example: true
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
    put:
        tags: 
         -  Trading
        security:
          - APIKeyAuth: []
          - AuthentKey: []
        summary: subaccount status-Subaccounts
        description: "Enable or disable trading on a subaccount"
        parameters:
          - in: path
            name: subaccountUid
            required: true
            schema:
              type: string
          - in: query
            name: tradingEnabled
            required: true
            schema:
              type: boolean
              example: true
        responses:
          '200':
            description: SUCCESSFUL REQUEST
            content:
              application/json:
                schema:
                  type: boolean
                  example: true
          '404':
            description: Error
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/subaccounts:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: get subaccounts-Subaccounts
      description: "Return information about subaccounts, including balances and UIDs."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/subaccountsResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/transfer:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Initiate wallet transfer - Transfers
      description: "This endpoint allows you to transfer funds between two margin accounts with the same collateral currency, or between a margin account and your cash account."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/transferRequest"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/generalResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/transfer/subaccount:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: transfer subaacount - Transfers
      description: "This endpoint allows you to transfer funds between the current account and a sub account, between two margin accounts with the same collateral currency, or between a margin account and your cash account."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/transferSubaccountRequest"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/generalResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/withdrawal:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Initiate withdrawal to Spot wallet - Transfers
      description: "This endpoint allows you to request to withdraw digital assets to your Kraken Spot wallet.<br>Wallet names can be found in the 'accounts' structure in the Get Wallets /accounts response."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/withdrawalRequest"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/generalResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/assignmentprogram/current:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: This endpoint returns information on currently active assignment programs - Assignment Program
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  participants:
                    type: array
                    items:
                      $ref: "#/components/schemas/participants"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/assignmentprogram/add:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: This endpoint adds an assignment program preference - Assignment Program
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignmentProgramRequest"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  participants:
                    $ref: "#/components/schemas/participants"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/assignmentprogram/delete:
    post:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Deletes an assignment program preference - Assignment Program
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  participants:
                    $ref: "#/components/schemas/participants"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/assignmentprogram/history:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Lists all changes in assignment program preferences - Assignment Program
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  participants:
                    type: array
                    items:
                      $ref: "#/components/schemas/participants"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/pnlpreferences:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: pnlpreferences - Multi Collateral
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  preferences:
                    type: array
                    items:
                      $ref: "#/components/schemas/Preference"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
    put:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: set PNL Currency - Multi Collateral
      description:
        "The PNL currency preference is used to determine which currency to pay out when realizing PNL gains. Calling this API can result in the following error codes:<br>87: Contract does not exist<br>88: Contract not a multi-collateral futures contract<br>89: Currency does not exist<br>90: Currency is not enabled for multi-collateral futures<br>41: Would cause liquidation"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                preference:
                  type: string
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/generalResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/leveragepreferences:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get the leverage setting for a market - Multi Collateral
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  leveragePreferences:
                    type: array
                    items:
                      $ref: "#/components/schemas/leveragePref"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
    put:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Set the leverage setting for a market - Multi Collateral
      description: "Sets a contract's margin mode, either 'isolated' or 'cross' margin.<br>When specifying a max leverage, the contract's margin mode will be isolated.<br>Calling this endpoint can result in the following error codes:<br>87: Contract does not exist<br>88: Contract not a multi-collateral futures contract<br>41: Would cause liquidation"
      parameters:
        - in: query
          name: symbol
          required: true
          schema:
            type: string
        - in: query
          name: maxLeverage
          required: true
          schema:
            type: integer
            example: When present, the symbol's margin mode will be set to "isolated".
        
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/generalResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/notifications:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Platefroms Notifications - General
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  notifications:
                    type: array
                    items:
                      $ref: "#/components/schemas/notification"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/fills:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get Your fills - Historical Data
      description: "This endpoint returns information on your filled orders for all futures contracts."
      parameters:
        - in: query
          name: lastFillTime
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  fills:
                    type: array
                    items:
                      $ref: "#/components/schemas/fills"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/historicalfundingrates:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary:  Historical Funding Rates
      parameters:
        - in: query
          name: symbol
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  rates:
                    type: array
                    items:
                      $ref: "#/components/schemas/rates"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /derivatives/api/v3/self-trade-strategy:
    get:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get current self trade strategy
      parameters:
        - in: query
          name: symbol
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  strategy:
                    type: string
                    enum: ["REJECT_MAKER","CANCEL_MAKER_SELF","CANCEL_MAKER_CHILD","CANCEL_MAKER_ANY"]
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
    put:
      tags: 
       -  Trading
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Update self trade strategy
      parameters:
        - in: query
          name: startegy
          required: true
          schema:
            type: string
            enum: ["REJECT_MAKER","CANCEL_MAKER_SELF","CANCEL_MAKER_CHILD","CANCEL_MAKER_ANY"]
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: string
                  result:
                    type: string
                  strategy:
                    type: string
                    enum: ["REJECT_MAKER","CANCEL_MAKER_SELF","CANCEL_MAKER_CHILD","CANCEL_MAKER_ANY"]
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/history/v3/executions:
    get:
      tags: 
       -  History
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get execution events - Account History
      description: "Lists executions/trades for authenticated account."
      parameters:
        - name: since
          in: query
          description: Timestamp in milliseconds to start listing events from.
          required: false
          schema:
            type: integer
            format: int64
            example: 1609459200000
        - name: before
          in: query
          description: Timestamp in milliseconds to stop listing events before.
          required: false
          schema:
            type: integer
            format: int64
            example: 1612137600000
        - name: sort
          in: query
          description: Determines the order of events in the response.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
            example: desc
        - name: continuation_token
          in: query
          description: Continuation token from the Next-Continuation-Token header used to continue listing events.
          required: false
          schema:
            type: string
            format: base64
            example: "eyJjb250aW51YXRpb25fdG9rZW4iOiAiMTIzIn0="
        - name: count
          in: query
          description: The maximum number of results to return. The upper bound is determined by a global limit.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 100
        - name: tradeable
          in: query
          description: If present, events of other tradeables are filtered out.
          required: false
          schema:
            type: string
            example: "BTC-USD"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/history/v3/orders:
    get:
      tags: 
       -  History
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get order events - Account History
      parameters:
        - name: since
          in: query
          description: Timestamp in milliseconds to start listing events from.
          required: false
          schema:
            type: integer
            format: int64
            example: 1609459200000
        - name: before
          in: query
          description: Timestamp in milliseconds to stop listing events before.
          required: false
          schema:
            type: integer
            format: int64
            example: 1612137600000
        - name: sort
          in: query
          description: Determines the order of events in the response.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
            example: desc
        - name: continuation_token
          in: query
          description: Continuation token from the Next-Continuation-Token header used to continue listing events.
          required: false
          schema:
            type: string
            format: base64
            example: "eyJjb250aW51YXRpb25fdG9rZW4iOiAiMTIzIn0="
        - name: count
          in: query
          description: The maximum number of results to return. The upper bound is determined by a global limit.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 100
        - name: tradeable
          in: query
          description: If present, events of other tradeables are filtered out.
          required: false
          schema:
            type: string
            example: "BTC-USD"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/history/v3/triggers:
    get:
      tags: 
       -  History
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get trigger events - Account History
      parameters:
        - name: since
          in: query
          description: Timestamp in milliseconds to start listing events from.
          required: false
          schema:
            type: integer
            format: int64
            example: 1609459200000
        - name: before
          in: query
          description: Timestamp in milliseconds to stop listing events before.
          required: false
          schema:
            type: integer
            format: int64
            example: 1612137600000
        - name: sort
          in: query
          description: Determines the order of events in the response.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
            example: desc
        - name: continuation_token
          in: query
          description: Continuation token from the Next-Continuation-Token header used to continue listing events.
          required: false
          schema:
            type: string
            format: base64
            example: "eyJjb250aW51YXRpb25fdG9rZW4iOiAiMTIzIn0="
        - name: count
          in: query
          description: The maximum number of results to return. The upper bound is determined by a global limit.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 100
        - name: tradeable
          in: query
          description: If present, events of other tradeables are filtered out.
          required: false
          schema:
            type: string
            example: "BTC-USD"
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionResponse"
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/history/v3/account-log:
    get:
      tags: 
       -  History
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get account logs - Account History
      description: "Lists account log entries, paged by timestamp or by ID.<br>To request entries by time range, use the since and before parameters. To request entries by ID range, use the from and to parameters. Any combination of since, before, from and to can be used to restrict the requested range of entries."
      parameters:
        - name: since
          in: query
          description: Timestamp in milliseconds to start listing events from.
          required: false
          schema:
            type: integer
            format: int64
            example: 1609459200000
        - name: before
          in: query
          description: Timestamp in milliseconds to stop listing events before.
          required: false
          schema:
            type: integer
            format: int64
            example: 1612137600000
        - name: sort
          in: query
          description: Determines the order of events in the response.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
            example: desc
        - name: info
          in: query
          required: false
          schema:
            type: string
            
        - name: count
          in: query
          description: The maximum number of results to return. The upper bound is determined by a global limit.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 100
        
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountUid:
                    type: string
                  logs:
                    type: array
                    items:
                      $ref: "#/components/schemas/logs"
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/history/v3/accountlogcsv:
    get:
      tags: 
       -  History
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get account logs (CSV) - Account History
      description: "Lists recent account log entries in CSV format."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: string
                description: "A CSV formatted response of most recent account log entries."
                    
        '401':
          description: Error
          content:
            application/json:
              schema:
                type: string
                example: "Credentials Required"
        '429':
          description: Error
          content:
            application/json:
              schema:
                type: string
                example: "Rate limited. Check Rate-Limit-Reset header for how long until next access is allowed in seconds."
  /api/history/v3/market/{tradeable}/executions:
    get:
      tags: 
       -  History
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get public execution events - Market History
      parameters:
        - in: path
          name: tradeable
          required: true
          schema:
            type: string
        - name: since
          in: query
          description: Timestamp in milliseconds to start listing events from.
          required: false
          schema:
            type: integer
            format: int64
            example: 1609459200000
        - name: before
          in: query
          description: Timestamp in milliseconds to stop listing events before.
          required: false
          schema:
            type: integer
            format: int64
            example: 1612137600000
        - name: sort
          in: query
          description: Determines the order of events in the response.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
            example: desc
        - name: continution_token
          in: query
          required: false
          schema:
            type: string
            
        - name: count
          in: query
          description: The maximum number of results to return. The upper bound is determined by a global limit.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 100
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionResponse"
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/history/v3/market/{tradeable}/orders:
    get:
      tags: 
       -  History
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Lists order events for a market - Market History
      parameters:
        - in: path
          name: tradeable
          required: true
          schema:
            type: string
        - name: since
          in: query
          description: Timestamp in milliseconds to start listing events from.
          required: false
          schema:
            type: integer
            format: int64
            example: 1609459200000
        - name: before
          in: query
          description: Timestamp in milliseconds to stop listing events before.
          required: false
          schema:
            type: integer
            format: int64
            example: 1612137600000
        - name: sort
          in: query
          description: Determines the order of events in the response.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
            example: desc
        - name: continution_token
          in: query
          required: false
          schema:
            type: string
            
        - name: count
          in: query
          description: The maximum number of results to return. The upper bound is determined by a global limit.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 100
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionResponse"
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/history/v3/market/{tradeable}/price:
    get:
      tags: 
       -  History
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Lists price events for a market - Market History
      parameters:
        - in: path
          name: tradeable
          required: true
          schema:
            type: string
        - name: since
          in: query
          description: Timestamp in milliseconds to start listing events from.
          required: false
          schema:
            type: integer
            format: int64
            example: 1609459200000
        - name: before
          in: query
          description: Timestamp in milliseconds to stop listing events before.
          required: false
          schema:
            type: integer
            format: int64
            example: 1612137600000
        - name: sort
          in: query
          description: Determines the order of events in the response.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
            example: desc
        - name: continution_token
          in: query
          required: false
          schema:
            type: string
            
        - name: count
          in: query
          description: The maximum number of results to return. The upper bound is determined by a global limit.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 100
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionResponse"
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/charts/v1/:
    get:
      tags: 
       -  Charts
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Tick Types - Candles
      description: "Returns all available tick types to use with the markets endpoint."
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  enum: ["spot","mark","trade"]
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/charts/v1/{tick_type}:
    get:
      tags: 
       -  Charts
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Markets - Candles
      description: "Markets available for specified tick type.<br>List of available tick types can be fetched from the tick types endpoint."
      parameters:
        - in: path
          name: tick_type
          required: true
          schema:
            type: string
            enum: ["spot","trade","mark"]
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  enum: ["PI_XRPUSD"]
                        
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/charts/v1/{tick_type}/{symbol}:
    get:
      tags: 
       -  Charts
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Resolutions - Candles
      description: "Candle resolutions available for specified tick type and market.<br>List of available tick types can be fetched from the tick types endpoint. List of available markets can be fetched from the markets endpoint."
      parameters:
        - in: path
          name: tick_type
          required: true
          schema:
            type: string
            enum: ["spot","trade","mark"]
        - in: path
          name: symbol
          required: true
          schema:
            type: string
            
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  enum: ["1m","5m","15m","30m","1h","4h","12h","1w","1d"]
                        
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
        
  /api/charts/v1/{tick_type}/{symbol}/{resolution}:
    get:
      tags: 
       -  Charts
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Market Candles - Candles
      description: "Candles for specified tick type, market, and resolution.<br>List of available tick types can be fetched from the tick types endpoint. List of available markets can be fetched from the markets endpoint. List of available resolutions can be fetched from the resolutions endpoint."
      parameters:
        - in: path
          name: tick_type
          required: true
          schema:
            type: string
            enum: ["spot","trade","mark"]
        - in: path
          name: symbol
          required: true
          schema:
            type: string
        - in: path
          name: resolution
          required: true
          schema:
            type: string
            example: "1h"
            enum: ["1m","5m","15m","30m","1h","4h","12h","1w","1d"]
            
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Candles"
                        
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/charts/v1/analytics/liquidity-pool:
    get:
      tags: 
       -  Charts
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Get liquidity pool statistic - Anlytics
      parameters:
        - name: since
          in: query
          required: true
          description: Epoch time in seconds.
          schema:
            type: integer
            format: int64
        - name: interval
          in: query
          required: true
          description: Resolution in seconds.
          schema:
            type: integer
            enum: [60, 300, 900, 1800, 3600, 14400, 43200, 86400, 604800]
        - name: to
          in: query
          required: false
          description: Epoch time in seconds, default is now.
          schema:
            type: integer
            format: int64      
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/poolStatistics"
                        
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
  /api/charts/v1/analytics/{symbol}/{analytics_type}:
    get:
      tags: 
       -  Charts
      security:
        - APIKeyAuth: []
        - AuthentKey: []
      summary: Market Analytics divided into time buckets - Anlytics
      parameters:
        - name: symbol
          in: path
          required: true
          description: Market symbol
          schema:
            type: string
        - name: analytics_type
          in: path
          required: true
          description: Type of analytics
          schema:
            type: string
            enum: [open-interest, aggressor-differential, trade-volume, trade-count, liquidation-volume, rolling-volatility, long-short-ratio, long-short-info, cvd, top-traders, orderbook, spreads, liquidity, slippage, future-basis]
        - name: since
          in: query
          required: true
          description: Epoch time in seconds
          schema:
            type: integer
            format: int64
        - name: interval
          in: query
          required: true
          description: Resolution in seconds
          schema:
            type: integer
            enum: [60, 300, 900, 1800, 3600, 14400, 43200, 86400, 604800]
        - name: to
          in: query
          required: false
          description: Epoch time in seconds, default now
          schema:
            type: integer     
      responses:
        '200':
          description: SUCCESSFUL REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/poolStatistics"
                        
                    
        '404':
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
        
        



components:
  securitySchemes:
    APIKeyAuth:
      type: apiKey
      in: header
      name: APIKey
      description: "API key for authenticating requests."
    AuthentKey:
      type: apiKey
      in: header
      name: Authent
      description: "Secondary key for authentication."
  schemas:
    errorResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "error"
        error:
          type: string
          example: "requireddArgumentMissing"
          enum:
            - accountInactive
            - apiLimitExceeded
            - authenticationError
            - insufficientFunds
            - invalidAccount
            - invalidAmount
            - invalidArgument
            - invalidUnit
            - jsonParseError    
            - marketUnavailable
            - nonceBelowThreshold
            - nonceDuplicate
            - notFound
            - requiredArgumentMissing
            - serverError 
            - unavailable
            - unknownError
    successResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        history:
          type: array
          items:
            $ref: "#/components/schemas/historyItems"
    historyItems:
      type: object
      properties:
        price:
          type: number
          description: "For futures: The price of a fill. For indices: The calculated value."
        side:
          type: string
          nullable: true
          description: "The classification of the taker side in the matched trade: 'buy' if the taker is a buyer, 'sell' if the taker is a seller."
        size:
          type: string
          nullable: true
          description: "For futures: The size of a fill. For indices: Not returned because N/A."
        time:
          type: string
          format: date-time
          description: "The date and time of a trade or index computation."
        trade_id:
          type: integer
          format: int32
          description: "For futures: A continuous index starting at 1 for the first fill in a Futures contract maturity. For indices: Not returned because N/A."
        type:
          type: string
          nullable: true
          enum: [fill, liquidation, assignment, termination, block]
          description: "The classification of the matched trade in an orderbook."
        uid:
          type: string
          nullable: true
        instrument_identification_type:
          type: string
          nullable: true
        isin:
          type: string
          nullable: true
        execution_venue:
          type: string
          nullable: true
        price_notation:
          type: string
          nullable: true
        price_currency:
          type: string
          nullable: true
        notional_amount:
          type: number
          nullable: true
        notional_currency:
          type: string
          nullable: true
        publication_time:
          type: string
          nullable: true
        publication_venue:
          type: string
          nullable: true
        transaction_identification_code:
          type: string
          nullable: true
        to_be_cleared:
          type: boolean
          nullable: true
    orderbookResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        orderBook:
          type: array
          items:
            $ref: "#/components/schemas/orderBookItems"
    orderBookItems:
      type: object
      properties:
        asks:
          type: array
          description: "The outer list is sorted ascending by ask price."
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: number
          example: [[100.5, 10], [101.0, 5]]
        bids:
          type: array
          description: "The outer list is sorted descending by bid price."
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: number
          example: [[99.5, 15], [99.0, 8]]
    tickersResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        tickers:
          type: array
          items:
            $ref: "#/components/schemas/tickersItems"
    tickersItems:
      type: object
      properties:
        tag:
          type: string
          description: "The tag for the type of instrument."
          example: "perpetual"
        pair:
          type: string
          description: "The currency pair."
          example: "XBT:USD"
        symbol:
          type: string
          description: "The symbol for the instrument."
          example: "PI_XBTUSD"
        markPrice:
          type: number
          description: "The mark price of the instrument."
          example: 30209.9
        bid:
          type: number
          description: "The current bid price."
          example: 8634
        bidSize:
          type: integer
          description: "The size of the current bid."
          example: 1000
        ask:
          type: number
          description: "The current ask price."
          example: 49289
        askSize:
          type: integer
          description: "The size of the current ask."
          example: 139984
        vol24h:
          type: integer
          description: "The volume traded in the last 24 hours."
          example: 15304
        openInterest:
          type: integer
          description: "The open interest in the market."
          example: 149655
        open24h:
          type: number
          description: "The opening price in the last 24 hours."
          example: 49289
        indexPrice:
          type: number
          description: "The index price of the instrument."
          example: 21087.8
        last:
          type: number
          description: "The last traded price."
          example: 49289
        lastTime:
          type: string
          format: date-time
          description: "The timestamp of the last trade."
          example: "2022-06-17T10:46:35.705Z"
        lastSize:
          type: integer
          description: "The size of the last trade."
          example: 100
        suspended:
          type: boolean
          description: "Whether the market is currently suspended."
          example: false
        fundingRate:
          type: number
          format: double
          description: "The current funding rate."
          example: 1.18588737106e-7
        fundingRatePrediction:
          type: number
          format: double
          description: "The predicted funding rate."
          example: 1.1852486794e-7
        postOnly:
          type: boolean
          description: "Whether the order is post-only."
          example: false
        change24h:
          type: number
          description: "The percentage change in price over the last 24 hours."
          example: 1.9974017538161748
    instrumentsResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        instruments:
          type: array
          items:
            $ref: "#/components/schemas/instrumentItems"
    instrumentItems:
      type: object
      properties:
        symbol:
          type: string
          description: "The symbol of the futures contract."
          example: "PI_XBTUSD"
        type:
          type: string
          description: "The type of contract."
          example: "futures_inverse"
        underlying:
          type: string
          description: "The underlying asset for the futures contract."
          example: "rr_xbtusd"
        tickSize:
          type: number
          description: "The minimum price increment for the contract."
          example: 0.5
        contractSize:
          type: integer
          description: "The size of one contract."
          example: 1
        tradeable:
          type: boolean
          description: "Whether the contract is tradeable."
          example: true
        impactMidSize:
          type: integer
          description: "The size used for calculating impact on the mid price."
          example: 1
        maxPositionSize:
          type: integer
          description: "The maximum position size allowed."
          example: 1000000
        openingDate:
          type: string
          format: date-time
          description: "The date the contract opens for trading."
          example: "2022-01-01T00:00:00.000Z"
        marginLevels:
          type: array
          description: "The margin requirements for different contract sizes."
          items:
            $ref: "#/components/schemas/retailMargin"
          example:
            - contracts: 0
              initialMargin: 0.02
              maintenanceMargin: 0.01
            - contracts: 500000
              initialMargin: 0.04
              maintenanceMargin: 0.02
        fundingRateCoefficient:
          type: number
          description: "The coefficient used to calculate funding rates."
          example: 8
        maxRelativeFundingRate:
          type: number
          description: "The maximum relative funding rate."
          example: 0.001
        isin:
          type: string
          description: "The International Securities Identification Number (ISIN)."
          example: "GB00J62YGL67"
        contractValueTradePrecision:
          type: integer
          description: "The trade precision for the contract value."
          example: 0
        postOnly:
          type: boolean
          description: "Whether the contract only accepts post-only orders."
          example: false
        feeScheduleUid:
          type: string
          description: "The UID of the fee schedule."
          example: "eef90775-995b-4596-9257-0917f6134766"
        retailMarginLevels:
          type: array
          description: "The margin levels for retail traders."
          items:
            $ref: "#/components/schemas/retailMargin"
          example:
            - contracts: 0
              initialMargin: 0.5
              maintenanceMargin: 0.25
        category:
          type: string
          description: "The category of the futures contract."
          example: ""
        tags:
          type: array
          description: "A list of tags associated with the contract."
          items:
            type: string
          example: []
    retailMargin:
      type: object
      properties:
        contracts:
          type: integer
          description: "The number of contracts."
        initialMargin:
          type: number
          description: "The initial margin requirement."
        maintenanceMargin:
          type: number
          description: "The maintenance margin requirement."
    instrumentStatusResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        instrumentStatus:
          type: array
          items:
            $ref: "#/components/schemas/instrumentStatusItems"
    instrumentStatusItems:
      type: object
      properties:
        tradeable:
          type: string
          description: "Indicates if the market is tradeable."
          example: "true"
        isExperiencingDislocation:
          type: boolean
          description: "Indicates if the market is experiencing price dislocation."
          example: true
        priceDislocationDirection:
          type: string
          nullable: true
          description: "The direction of the price dislocation."
          enum:
            - ABOVE_UPPER_BOUND
            - BELOW_LOWER_BOUND
          example: "ABOVE_UPPER_BOUND"
        isExperiencingExtremeVolatility:
          type: boolean
          description: "Indicates if the market is experiencing extreme volatility."
          example: false
        extremeVolatilityInitialMarginMultiplier:
          type: integer
          description: "Multiplier applied to initial margin due to extreme volatility."
          example: 2
    tradeableResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        tradeable:
          type: string
          description: "Indicates if the market is tradeable."
          example: "true"
        isExperiencingDislocation:
          type: boolean
          description: "Indicates if the market is experiencing price dislocation."
          example: true
        priceDislocationDirection:
          type: string
          nullable: true
          description: "The direction of the price dislocation."
          enum:
            - ABOVE_UPPER_BOUND
            - BELOW_LOWER_BOUND
          example: "ABOVE_UPPER_BOUND"
        isExperiencingExtremeVolatility:
          type: boolean
          description: "Indicates if the market is experiencing extreme volatility."
          example: true
        extremeVolatilityInitialMarginMultiplier:
          type: integer
          description: "Multiplier applied to initial margin due to extreme volatility."
          example: 3
    feeResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        feeSchedules:
          type: array
          items:
            $ref: "#/components/schemas/feeScheduleItems"
    feeScheduleItems:
      type: object
      properties:
        name:
          type: string
          description: "The name of the fee schedule."
          example: "Standard Fee Schedule"
        uid:
          type: string
          description: "Unique identifier of the fee schedule."
          example: "eef90775-995b-4596-9257-0917f6134766"
        tiers:
          type: array
          description: "A list of fee tiers."
          items:
            $ref: '#/components/schemas/FeeTier'
          example:
            - makerFee: 0.001
              takerFee: 0.002
              usdVolume: 1000000
            - makerFee: 0.0008
              takerFee: 0.0015
              usdVolume: 5000000
    FeeTier:
      type: object
      properties:
        makerFee:
          type: number
          description: "Percentage value of the maker fee in the tier."
          example: 0.001
        takerFee:
          type: number
          description: "Percentage value of the taker fee in the tier."
          example: 0.002
        usdVolume:
          type: number
          description: "Minimum 30-day USD volume for the fee tier to be applicable."
          example: 1000000
    feeVolumeResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        volumesByFeeSchedule:
          type: object
          description: "An object containing the 30-day trading volumes for each fee schedule."
          additionalProperties:
            type: number
            description: "The 30-day trading volume for a specific fee schedule."
          example:
            "standard_fee_schedule": 5000000
            "vip_fee_schedule": 15000000
    AccountsResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        accounts:
          $ref: "#/components/schemas/Accounts"
    Accounts:
      type: object
      properties:
        cash:
          $ref: "#/components/schemas/Cash"
        flex:
          $ref: "#/components/schemas/FlexCurrencySummary"
        additionalProperties:
          $ref: "#/components/schemas/MarginAccount"
    Cash:
      type: object
      properties:
        type:
          type: string
          enum: [cashAccount]
          description: "The type of the account (always cashAccount)."
        balances:
          type: object
          description: "A structure containing account balances."
          additionalProperties:
            type: number
          example:
            available: 1000
            total: 5000
    currencies:
      type: object
      properties:
        quantity:
          type: number
          description: "Quantity of the asset."
          example: 0.1185308247
        value:
          type: number
          description: "USD value of the asset."
          example: 4998.721054420551
        collateralValue:
          type: number
          description: "USD value of the asset usable for margin."
          example: 4886.49976674881
        available:
          type: number
          description: "Quantity of asset available for trading."
          example: 0.1185308247
    FlexCurrencySummary:
      type: object
      properties:
        type:
          type: string
          enum: [multiCollateralMarginAccount]
          description: "The type of the account (always multiCollateralMarginAccount)."
        currencies:
          type: object
          description: "Structure with collateral currency details."
          additionalProperties:
            $ref: '#/components/schemas/currencies'
        availableMargin:
          type: number
          description: "Margin available for trading."
        initialMargin:
          type: number
          description: "Total initial margin held for open positions (USD)."
        initialMarginWithOrders:
          type: number
          description: "Total initial margin held for open positions and open orders (USD)."
        maintenanceMargin:
          type: number
          description: "Total maintenance margin held for open positions (USD)."
        balanceValue:
          type: number
          description: "USD value of all collateral in multi-collateral wallet."
        portfolioValue:
          type: number
          description: "Balance value plus unrealised PnL in USD."
        collateralValue:
          type: number
          description: "USD value of balances in account usable for margin."
        pnl:
          type: number
          description: "Unrealised PnL in USD."
        unrealizedFunding:
          type: number
          description: "Unrealised funding from funding rate (USD)."
        totalUnrealized:
          type: number
          description: "Total USD value of unrealised funding and unrealised PnL."
        totalUnrealizedAsMargin:
          type: number
          description: "Unrealised pnl and unrealised funding that is usable as margin."
        marginEquity:
          type: number
          description: "Balance Value in USD adjusted for haircut and unrealised profit/loss."
    MarginAccount:
      type: object
      properties:
        type:
          type: string
          enum: [marginAccount]
          description: "The type of the account (always marginAccount)."
        currency:
          type: string
          nullable: true
          description: "The currency of the account."
        balances:
          type: object
          description: "A structure containing account balances."
          additionalProperties:
            type: number
          example:
            total: 2000
            available: 1500
        auxiliary:
          type: object
          description: "A structure containing auxiliary account information."
          properties:
            usd:
              type: number
              description: "The portfolio value of the account, in currency."
            pv:
              type: number
              description: "The portfolio value of the account, in currency."
            pnl:
              type: number
              description: "The PnL of current open positions of the account, in currency."
            af:
              type: number
              description: "The available funds of the account, in currency."
            funding:
              type: number
              description: "Funding related to the account."
        marginRequirements:
          type: object
          description: "A structure containing the account's margin requirements."
          properties:
            im:
              type: number
              description: "The initial margin requirement of the account."
            mm:
              type: number
              description: "The maintenance margin requirement of the account."
            lt:
              type: number
              description: "The liquidation threshold of the account."
            tt:
              type: number
              description: "The termination threshold of the account."
        triggerEstimates:
          type: object
          description: "A structure containing the account's margin trigger estimates."
          properties:
            im:
              type: number
              description: "The initial margin requirement of the account."
            mm:
              type: number
              description: "The maintenance margin requirement of the account."
            lt:
              type: number
              description: "The liquidation threshold of the account."
            tt:
              type: number
              description: "The termination threshold of the account."
    openPositionsResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        openPositions:
          type: array
          items:
            $ref: "#/components/schemas/openPositions"
    openPositions:
      type: object
      properties:
        side:
          type: string
          description: "The side of the trade."
          enum: [long, short]
          example: "short"
        symbol:
          type: string
          description: "The trading symbol."
          example: "PI_XBTUSD"
        price:
          type: number
          description: "The price at which the trade was executed."
          example: 9392.749993345933
        fillTime:
          type: string
          format: date-time
          description: "The timestamp when the trade was filled."
          example: "2020-07-22T14:39:12.376Z"
        size:
          type: number
          description: "The size of the trade."
          example: 10000
        unrealizedFunding:
          type: number
          description: "The unrealized funding related to the trade."
          example: 0.00001045432180096817
    positionResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        queue:
          type: array
          items:
            $ref: "#/components/schemas/Position"
    Position:
      type: object
      properties:
        symbol:
          type: string
          description: "The symbol of the futures to which the order refers."
          example: "PI_XBTUSD"
        percentile:
          type: number
          description: "The percentile rank of the trader's position in the unwind queue."
          enum: [20, 40, 80, 100]
          example: 40
    batchOrderRequest:
      type: object
      properties:
        processBefore:
          type: string
          description: "The time before which the request should be processed, otherwise it is rejected."
          example: "2024-10-18T14:00:00Z"
        json:
          type: string
          description: "This parameter is required to be encoded as a JSON string."
          example: "{batchOrder}"
    batchOrder:
      type: array
      description: "A list containing structures of order sending and order cancellation instructions."
      items:
        oneOf:
          - $ref: "#/components/schemas/BatchOrderSend"
          - $ref: "#/components/schemas/BatchOrderEdit"
          - $ref: "#/components/schemas/BatchOrderCancel"
    BatchOrderSend:
      type: object
      properties:
        order:
          type: string
          enum: [send]
          description: Always send.
        order_tag:
          type: string
          description: An arbitrary string provided client-side to tag the order for mapping order sending instructions to the API's response.
        orderType:
          type: string
          enum: [lmt, ioc, post, stp, take_profit, trailing_stop]
          description: Type of the order.
        symbol:
          type: string
          description: The symbol of the Futures.
        side:
          type: string
          enum: [buy, sell]
          description: The direction of the order.
        size:
          type: number
          description: The size associated with the order.
        limitPrice:
          type: number
          description: The limit price associated with the order. Leave undefined if placing a trailing_stop order.
        stopPrice:
          type: number
          description: The stop price associated with a stop order. Required if orderType is stp.
        cliOrdId:
          type: string
          maxLength: 100
          description: The globally unique order identity specified by the user.
        triggerSignal:
          type: string
          enum: [mark, spot, last]
        reduceOnly:
          type: boolean
          default: false
          description: Set to true if the order should only reduce an existing position.
        trailingStopMaxDeviation:
          type: number
          description: Required if the order type is trailing_stop. The maximum distance the trailing stop's trigger price may trail behind the trigger signal.
        trailingStopDeviationUnit:
          type: string
          enum: [PERCENT, QUOTE_CURRENCY]
          description: Defines how the trailing trigger price is calculated from the requested trigger signal.
      required:
        - order
        - order_tag
        - orderType
        - symbol
        - side
        - size  
    BatchOrderEdit:
      type: object
      properties:
        cliOrdId:
          type: string
          nullable: true
          maxLength: 100
          description: Unique client order identifier.
        order_id:
          type: string
          format: uuid
          description: Order ID.
        order:
          type: string
          enum: [edit]
          description: Always edit.
        size:
          type: number
          description: The size associated with the order.
        limitPrice:
          type: number
          description: The limit price associated with the order.
        stopPrice:
          type: number
          description: The stop price associated with a stop order. Required if old orderType is stp.
        trailingStopMaxDeviation:
          type: number
          minimum: 0.1
          maximum: 50
          description: Maximum distance the trailing stop's trigger price may trail behind the trigger signal.
        trailingStopDeviationUnit:
          type: string
          enum: [PERCENT, QUOTE_CURRENCY]
          description: Defines how the trailing trigger price is calculated from the requested trigger signal.
    BatchOrderCancel:
      type: object
      properties:
        cliOrdId:
          type: string
          nullable: true
          maxLength: 100
          description: Unique client order identifier.
        order_id:
          type: string
          format: uuid
          description: Order ID.
        order:
          type: string
          enum: [cancel]
          description: Always cancel.
    batchOrderResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        batchStatus:
          type: array
          items:
            $ref: "#/components/schemas/BatchStatusObject"
    BatchStatusObject:
      type: object
      properties:
        cliOrdId:
          type: string
          description: The unique client order identifier. This field is returned only if the order has a client order ID.
        dateTimeReceived:
          type: string
          nullable: true
          format: date-time
          description: The date and time the order was received.
        orderEvents:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/placeEvent"
              - $ref: "#/components/schemas/cancelEvent"
              - $ref: "#/components/schemas/editEvent"
              - $ref: "#/components/schemas/rejectEvent"
              - $ref: "#/components/schemas/executeEvent"
              - $ref: "#/components/schemas/placeTriggerEvent"
        order_id:
          type: string
          nullable: true
          description: The unique identifier of the order.
        order_tag:
          type: string
          nullable: true
          description: The arbitrary string provided client-side when the order was sent for mapping order sending instructions to the API's response.
        status:
          type: string
          enum:
            - placed
            - cancelled
            - invalidOrderType
            - invalidSide
            - invalidSize
            - invalidPrice
            - insufficientAvailableFunds
            - selfFill
            - tooManySmallOrders
            - marketSuspended
            - marketInactive
            - clientOrderIdAlreadyExist
            - clientOrderIdTooLong
            - outsidePriceCollar
            - postWouldExecute
            - iocWouldNotExecute
          description: The status of the order.
    placeEvent:
      type: object
      properties:
        type:
          type: string
          enum: [place, cancel, edit, reject, execution]
          description: The type of the API order event. Always "place".
        order:
          $ref: "#/components/schemas/Order"
    cancelEvent:
      type: object
      properties:
        uid:
          type: string
          description: "Unique id of order"  
        type:
          type: string
          enum: [place, cancel, edit, reject, execution]
          description: The type of the API order event. Always "place".
        order:
          $ref: "#/components/schemas/Order"
    editEvent:
      type: object
      properties:
        type:
          type: string
          enum: [place, cancel, edit, reject, execution]
          description: The type of the API order event. Always "place".
        old:
          $ref: "#/components/schemas/Order"
        new:
          $ref: "#/components/schemas/Order"
        reducedQuantity:
          type: number
          description:  "The amount of quantity that was removed from the edited order or null if the order is not a reduce only."
    rejectEvent:
      type: object
      properties:
        uid:
          type: string
          description: "Unique id of order"  
        order:
          $ref: "#/components/schemas/Order" 
        reason: 
          type: string
          enum: ["postWouldExecute","iocWouldNotExecute","wouldNotReducePosition","orderForEditNotFound"]
          description: The rejection reason for the order.
    executeEvent:
      type: object
      properties:
        type:
          type: string
          enum: [place, cancel, edit, reject, execution]
          description: The type of the API order event. Always "execution".
        executionId:
          type: string
          description: The UID associated with the execution.
        orderPriorEdit:
          $ref: "#/components/schemas/Order"
        orderPriorExecution:
          $ref: "#/components/schemas/Order"
        takerReducedQuantity:
          type: number
          nullable: true
          description: The amount of quantity that was removed from the order before execution, or null if the order is not reduce-only.
        price:
          type: number
          description: The price of the execution.
        amount:
          type: number
          description: The executed amount.
    placeTriggerEvent:
      type: object
      properties:
        type:
          type: string
          enum: [place, cancel, edit, reject, execution]
          description: The type of the API order event. Always "place".
        orderTrigger:
          $ref: "#/components/schemas/Order"
    Order:
      type: object
      properties:
        orderId:
          type: string
          description: The UID associated with the order.
        cliOrdId:
          type: string
          nullable: true
          description: The client order id, or null if the order does not have one.
        type:
          type: string
          enum: [lmt, ioc, post, liquidation, assignment, stp, unwind, block]
          description: The type of the order.
        symbol:
          type: string
          description: The symbol of the Futures.
        side:
          type: string
          enum: [buy, sell]
          description: The side associated with the order.
        quantity:
          type: number
          description: The quantity (size) associated with the order.
        filled:
          type: number
          description: The total amount of the order that has been filled.
        limitPrice:
          type: number
          description: The limit price associated with a limit order.
        reduceOnly:
          type: boolean
          description: Whether the order is reduce-only or not.
        timestamp:
          type: string
          format: date-time
          description: The date and time the order was placed.
        lastUpdateTimestamp:
          type: string
          format: date-time
          description: The date and time the order was last updated.
        reducedQuantity:
          type: number
          nullable: true
          description: The amount of quantity that was removed before placement, or null if the order is not reduce-only.
    cancelOrderResponse:
      type: object
      properties:
        serverTime:
          type: string
        result:
          type: string
          example: "success"
        batcStatus:
          type: array
          items:
            $ref: "#/components/schemas/cancelStatus" 
    cancelStatus:
      type: object
      properties:
        cancelOnly:
            type: string
            description: The symbol of the futures or "all" for cancelling all orders.
        cancelledOrders:
          type: array
          items:
            type: object
            properties:
              cliOrdId:
                type: string
                nullable: true
                maxLength: 100
                description: Unique client order identifier.
              order_id:
                type: string
                format: uuid
                description: Order ID.
[...]
