openapi: 3.0.0
info:
  title: MEXC Crypto Exchange
  version: 1.0.0
  description: |
    Welcome to mexc API document!

servers:
  - url: https://api.mexc.com
    description: Main REST API
tags:
  - name: Market Data
  - name: Subaccount
  - name: Spot Account
  - name: Wallet
  - name: Rebate Endpoints
paths:
  /api/v3/ping:
    get:
      summary: Test Connectivity
      operationId: testConnectivity
      tags:
        - Market Data
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ping"
  /api/v3/time:
    get:
      summary: Check Server Time
      operationId: checkServerTime
      tags:
        - Market Data
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerResponse"
  /api/v3/exchangeInfo:
    get:
      summary: Current exchange trading rules and symbol information
      operationId: getExchangeInfo
      tags:
        - Market Data
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeInfo"
  /api/v3/depth:
    get:
      summary: Order Book
      operationId: getOrderBook
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          description: Symbol for the order book (e.g., BTCUSDT)
          required: true
          schema:
            type: string
            example: BTCUSDT
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Orderbook"
  /api/v3/trades:
    get:
      summary: Recent Trades List
      operationId: getRecentTrades
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          description: Symbol for the recent trades (e.g., BTCUSDT)
          required: true
          schema:
            type: string
            example: BTCUSDT
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trades"
  /api/v3/historicalTrades:
    get:
      summary: Old Trade Lookup
      operationId: getOldTradeLookup
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          description: Symbol for the historical trades (e.g., BTCUSDT)
          required: true
          schema:
            type: string
            example: BTCUSDT
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    price:
                      type: string
                      example: "49000.00"
                    qty:
                      type: string
                      example: "2"
                    time:
                      type: integer
                      example: 1609459200000
  /api/v3/aggTrades:
    get:
      summary: Compressed/Aggregate Trades List
      operationId: getAggregateTrades
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          description: Symbol for the aggregate trades (e.g., BTCUSDT)
          required: true
          schema:
            type: string
            example: BTCUSDT
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Aggtrades"
  /api/v3/klines:
    get:
      summary: Kline/Candlestick Data
      operationId: getKlineData
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          description: Symbol for the kline data (e.g., BTCUSDT)
          required: true
          schema:
            type: string
            example: BTCUSDT
        - name: interval
          in: query
          description: ENUM for the kline interval (e.g., 1m)
          required: true
          schema:
            type: string
            example: 1m
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klines"
  /api/v3/avgPrice:
    get:
      summary: Current Average Price
      operationId: getAvgPrice
      tags:
        - Market Data
      parameters:
        - name: symbol
          in: query
          description: Symbol for the average price (e.g., BTCUSDT)
          required: true
          schema:
            type: string
            example: BTCUSDT
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  price:
                    type: string
                    example: "49500.00"
  /api/v3/ticker/24hr:
    get:
      summary: 24hr Ticker Price Change Statistics
      operationId: get24hrTicker
      tags:
        - Market Data
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticker24"
  /api/v3/ticker/price:
    get:
      summary: Symbol Price Ticker
      operationId: getSymbolPriceTicker
      tags:
        - Market Data
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerPrice"
  /api/v3/ticker/bookTicker:
    get:
      summary: Symbol Order Book Ticker
      operationId: getSymbolOrderBookTicker
      tags:
        - Market Data
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookTicker"
  /api/v3/defaultSymbols:
    get:
      summary: Default Symbols
      operationId: getDefaultSymbols
      tags:
        - Market Data
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Symbols"
  /api/v3/order/test:
    post:
      summary: Test New Order
      description: "Permission: SPOT_DEAL_WRITE.Creates and validates a new order but does not send it into the matching engine."

      tags:
        - Spot Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        "200":
          description: OK
  /api/v3/kyc/status:
    get:
      summary: Query KYC Status
      description: Retrieves the KYC status of the user.
      tags:
        - Spot Account
      security:
        - ApiKeyAuth: [] # Or whatever your authentication method is
      parameters:
        - in: query
          name: timestamp
          schema:
            type: string
          required: true
          description: Timestamp in milliseconds since epoch.
        - in: query
          name: signature
          schema:
            type: string
          required: true
          description: Signature of the request.
      responses:
        "200":
          description: Successful retrieval of KYC status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: KYC status.
                    enum: # Consider using enum for clarity
                      - "1" # Unverified
                      - "2" # Primary KYC
                      - "3" # Advanced KYC
                      - "4" # Institutional KYC
  /api/v3/selfSymbols:
    get:
      summary: Get User's Default Symbols
      description: Retrieves the list of default symbols for the user.
      tags:
        - Spot Account
      security:
        - ApiKeyAuth: [] # Replace with your actual authentication method
      parameters:
        - in: query
          name: timestamp
          schema:
            type: string
          required: true
          description: Timestamp in milliseconds since epoch.
        - in: query
          name: signature
          schema:
            type: string
          required: true
          description: Signature of the request.
      responses:
        "200":
          description: Successful retrieval of default symbols.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelfSymbols"

  /api/v3/order:
    post:
      summary: New Order
      tags:
        - Spot Account
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        "200":
          description: OK
    delete:
      summary: Cancel an active order
      description: |
        This endpoint cancels an active order. Either `orderId` or `origClientOrderId` must be provided to identify the order.
      operationId: cancelOrder
      tags:
        - Spot Account
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: symbol
          required: true
          schema:
            type: string
          description: The trading pair symbol (e.g., BTCUSDT).
        - in: query
          name: orderId
          required: false
          schema:
            type: string
          description: The unique identifier of the order to cancel.
        - in: query
          name: origClientOrderId
          required: false
          schema:
            type: string
          description: The original client order ID of the order to cancel.
        - in: query
          name: newClientOrderId
          required: false
          schema:
            type: string
          description: A new client order ID to assign to the canceled order (optional).
        - in: query
          name: recvWindow
          required: false
          schema:
            type: integer
          description: The time window (in milliseconds) during which the request is valid.
        - in: query
          name: timestamp
          required: true
          schema:
            type: integer
          description: The timestamp of the request in milliseconds.
      responses:
        "200":
          description: Order cancellation successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelOrder"
        "400":
          description: Bad request (e.g., invalid parameters, missing required fields).
        "401":
          description: Unauthorized (e.g., invalid API key).
        "403":
          description: Forbidden (e.g., insufficient permissions).
        "404":
          description: Order not found.
        "429":
          description: Too many requests (rate limit exceeded).
        "500":
          description: Internal server error.

  /api/v3/batchOrders:
    post:
      summary: Place multiple orders in a batch
      description: |
        This endpoint allows you to place multiple orders in a single batch request. 
        The batch can contain up to 30 orders with the same symbol. 
        The rate limit for this endpoint is 2 requests per second.
      operationId: batchOrders
      tags:
        - Spot Account
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: batchOrders
          required: true
          schema:
            $ref: "#/components/schemas/BatchRequest"
          description: A JSON array of order objects to be placed in the batch.
      responses:
        "200":
          description: Batch order placement successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
        "400":
          description: Bad request (e.g., invalid parameters, exceeding rate limits)
        "401":
          description: Unauthorized (e.g., invalid API key)
        "403":
          description: Forbidden (e.g., insufficient permissions)
        "429":
          description: Too many requests (rate limit exceeded)
        "500":
          description: Internal server error
  /api/v3/openOrders:
    delete:
      summary: Cancel all open orders for a symbol
      description: |
        This endpoint cancels all pending orders for a specified trading symbol, including OCO (One-Cancels-the-Other) orders.
        Up to 5 symbols can be specified, separated by commas.
      operationId: cancelAllOpenOrders
      tags:
        - Spot Account
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: symbol
          required: true
          schema:
            type: string
          description: |
            The trading symbol(s) for which to cancel all open orders. 
            Maximum of 5 symbols, separated by commas (e.g., "BTCUSDT,MXUSDT,ADAUSDT").
        - in: query
          name: recvWindow
          required: false
          schema:
            type: integer
          description: The time window (in milliseconds) during which the request is valid.
        - in: query
          name: timestamp
          required: true
          schema:
            type: integer
          description: The timestamp of the request in milliseconds.
      responses:
        "200":
          description: All open orders canceled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDeletion"
        "400":
          description: Bad request (e.g., invalid parameters, missing required fields).
        "401":
          description: Unauthorized (e.g., invalid API key).
        "403":
          description: Forbidden (e.g., insufficient permissions).
        "429":
          description: Too many requests (rate limit exceeded).
        "500":
          description: Internal server error.
    get:
      summary: Current Open Orders
      tags:
        - Spot Account
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: Symbol
        - name: timestamp
          in: query
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v3/allOrders:
    get:
      summary: All Orders
      tags:
        - Spot Account
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: Symbol
        - name: timestamp
          in: query
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: All open orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/openOrders"
        "400":
          description: Bad request (e.g., invalid parameters, missing required fields).
        "401":
          description: Unauthorized (e.g., invalid API key).
        "403":
          description: Forbidden (e.g., insufficient permissions).
        "429":
          description: Too many requests (rate limit exceeded).
        "500":
          description: Internal server error.
  /api/v3/account:
    get:
      summary: Get current account information
      description: "Retrieves current account information, including balances and permissions. Rate limit: 2 requests per second."
      operationId: getAccountInfo
      security:
        - ApiKeyAuth: []
      tags:
        - Spot Account
      parameters:
        - name: recvWindow
          in: query
          required: false
          schema:
            type: integer
            example: 5000
          description: The number of milliseconds after timestamp the request is valid for (optional).
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1499827319559
          description: The timestamp of the request in milliseconds since epoch.

      responses:
        "200":
          description: Successfully fetched account information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfo"
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error
  /api/v3/myTrades:
    get:
      summary: Account Trade List
      description: "Permission: SPOT_ACCOUNT_READ.<br>Weight(IP): 10<br>Get trades for a specific account and symbol,Only the transaction records in the past 1 month can be queried. If you want to view more transaction records, please use the export function on the web side, which supports exporting transaction records of the past 3 years at most."
      tags:
        - Spot Account
      security:
        - ApiKeyAuth: []
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: "LTCBTC"
          description: The trading pair symbol (e.g., "LTCBTC").
        - name: orderId
          in: query
          required: false
          schema:
            type: string
            example: "1"
          description: The unique identifier of the order.
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
            example: 1499827319559
          description: The start time for filtering orders in milliseconds since epoch.
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
            example: 1499827319559
          description: The end time for filtering orders in milliseconds since epoch.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 100
            maximum: 100
          description: The number of orders to return (default is 100, max is 100).
        - name: recvWindow
          in: query
          required: false
          schema:
            type: integer
            example: 5000
          description: The number of milliseconds after the timestamp the request is valid for (optional).
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1499827319559
          description: The timestamp of the request in milliseconds since epoch.

      responses:
        "200":
          description: Successfully fetched trade details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Trade"
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error
  /api/v3/mxDeduct/enable:
    post:
      summary: Enable or disable MX deduct for spot commission fee
      description: "Permission: SPOT_DEAL_WRITE<br>Weight(IP): 1"
      tags:
        - Spot Account
      security:
        - ApiKeyAuth: []
      parameters:
        - name: mxDeductEnable
          in: query
          required: true
          schema:
            type: string
        - name: timestamp
          in: query
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
        - name: recvWindow
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully fetched trade details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mxDeduct"
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error

    get:
      summary: Query MxDeduct
      tags:
        - Spot Account
      parameters:
        - name: timestamp
          in: query
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully fetched trade details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mxDeduct"
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error
  /api/v3/tradeFee:
    get:
      summary: Get user trade fee information
      description: Retrieve the user’s maker and taker commission fees for a specific trading symbol.
      operationId: getTradeFee
      tags:
        - Spot Account
      security:
        - ApiKeyAuth: []
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            example: "LTCBTC"
          description: The trading pair symbol (e.g., "LTCBTC").
        - name: recvWindow
          in: query
          required: false
          schema:
            type: integer
            example: 5000
          description: The number of milliseconds after timestamp the request is valid for.
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1499827319559
          description: The timestamp of the request in milliseconds since epoch.
        - name: signature
          in: query
          required: true
          schema:
            type: string
            example: "signatureExample123"
          description: The HMAC SHA256 signature of the query string parameters.

      responses:
        "200":
          description: Successfully fetched trade fee information
          content:
            application/json:
              schema:
                type: object
                properties:
                  makerCommission:
                    type: integer
                    example: 10
                    description: The user's maker commission fee (in basis points, e.g., 10 for 0.10%).
                  takerCommission:
                    type: integer
                    example: 20
                    description: The user's taker commission fee (in basis points, e.g., 20 for 0.20%).
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error
  /api/v3/sub-account/virtualSubAccount:
    post:
      summary: Create a sub-account from the master account
      description: This endpoint allows the master account to create a sub-account with a specified name and notes.
      operationId: createSubAccount
      tags:
        - Subaccount
      security:
        - ApiKeyAuth: []
      parameters:
        - name: subAccount
          in: query
          required: true
          schema:
            type: string
            example: "mexc1"
          description: The name of the sub-account to be created.
        - name: note
          in: query
          required: true
          schema:
            type: string
            example: "1"
          description: A note or description associated with the sub-account.
        - name: recvWindow
          in: query
          required: false
          schema:
            type: integer
            example: 5000
          description: The number of milliseconds after timestamp the request is valid for (optional).
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1499827319559
          description: The timestamp of the request in milliseconds since epoch.

      responses:
        "200":
          description: Successfully created the sub-account
          content:
            application/json:
              schema:
                type: object
                properties:
                  subAccount:
                    type: string
                    example: "mexc1"
                    description: The name of the created sub-account.
                  note:
                    type: string
                    example: "1"
                    description: The note associated with the sub-account.
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error
  /api/v3/sub-account/list:
    get:
      summary: Query Sub-account List for Master Account
      description: This endpoint retrieves the details of sub-accounts under a master account, including information such as sub-account name, freeze status, UID, and creation time.
      operationId: getSubAccountList
      security:
        - ApiKeyAuth: []
      tags:
        - Subaccount
      parameters:
        - name: subAccount
          in: query
          required: false
          schema:
            type: string
            example: "mexc666"
          description: The name of the sub-account to filter by.
        - name: isFreeze
          in: query
          required: false
          schema:
            type: string
            enum: ["true", "false"]
            example: "false"
          description: Whether the sub-account is frozen (true or false).
        - name: page
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: The page number for pagination. Default is 1.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 10
            maximum: 200
          description: The number of results per page. Default is 10, and the maximum value is 200.
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1499827319559
          description: The timestamp of the request in milliseconds since the epoch.
        - name: recvWindow
          in: query
          required: false
          schema:
            type: integer
            example: 5000
          description: The number of milliseconds after the timestamp the request is valid for.

      responses:
        "200":
          description: Successfully fetched the sub-account list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subaccounts"
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error
  /api/v3/sub-account/apiKey:
    post:
      summary: Create an API key for a sub-account (For Master Account)
      description: This endpoint creates an API key for a specified sub-account, with defined permissions and optional IP restrictions.
      operationId: createSubAccountApiKey
      security:
        - ApiKeyAuth: []
      tags:
        - Subaccount
      parameters:
        - name: subAccount
          in: query
          required: true
          schema:
            type: string
            example: "mexc1"
          description: The name of the sub-account for which to create the API key.
        - name: note
          in: query
          required: true
          schema:
            type: string
            example: "1"
          description: A note or description for the API key.
        - name: permissions
          in: query
          required: true
          schema:
            type: string
            enum:
              - SPOT_ACCOUNT_READ
              - SPOT_ACCOUNT_WRITE
              - SPOT_DEAL_READ
              - SPOT_DEAL_WRITE
              - CONTRACT_ACCOUNT_READ
              - CONTRACT_ACCOUNT_WRITE
              - CONTRACT_DEAL_READ
              - CONTRACT_DEAL_WRITE
              - SPOT_TRANSFER_READ
              - SPOT_TRANSFER_WRITE
            example: "SPOT_ACCOUNT_READ"
          description: Permissions for the created API key (choose one or more based on your needs).
        - name: ip
          in: query
          required: false
          schema:
            type: string
            example: "135.181.193"
          description: The IP address(es) allowed to use this API key. Multiple IPs can be separated by commas (up to 20).
        - name: recvWindow
          in: query
          required: false
          schema:
            type: integer
            example: 5000
          description: The number of milliseconds after the timestamp the request is valid for (optional).
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1499827319559
          description: The timestamp of the request in milliseconds since the epoch.

      responses:
        "200":
          description: Successfully created the API key for the sub-account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error
    get:
      summary: Retrieve API keys for a sub-account (For Master Account)
      description: This endpoint retrieves the API keys for a specific sub-account, along with the associated permissions, IP restrictions, and creation time.
      operationId: getSubAccountApiKeys
      security:
        - ApiKeyAuth: []
      tags:
        - Subaccount
      parameters:
        - name: subAccount
          in: query
          required: true
          schema:
            type: string
            example: "mexc1"
          description: The name of the sub-account to retrieve API keys for.
        - name: recvWindow
          in: query
          required: false
          schema:
            type: integer
            example: 5000
          description: The number of milliseconds after the timestamp the request is valid for (optional).
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1499827319559
          description: The timestamp of the request in milliseconds since the epoch.

      responses:
        "200":
          description: Successfully retrieved the API keys for the sub-account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyList"
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error
    delete:
      summary: Delete an API key for a sub-account (For Master Account)
      description: This endpoint deletes a specific API key for a given sub-account by providing the sub-account name and the API key to be deleted.
      operationId: deleteSubAccountApiKey
      security:
        - ApiKeyAuth: []
      tags:
        - Subaccount
      parameters:
        - name: subAccount
          in: query
          required: true
          schema:
            type: string
            example: "mexc1"
          description: The name of the sub-account for which the API key should be deleted.
        - name: apiKey
          in: query
          required: true
          schema:
            type: string
            example: "arg13sdfgs"
          description: The public key of the API to be deleted.
        - name: recvWindow
          in: query
          required: false
          schema:
            type: integer
            example: 5000
          description: The number of milliseconds after the timestamp the request is valid for (optional).
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 1499827319559
          description: The timestamp of the request in milliseconds since the epoch.

      responses:
        "200":
          description: Successfully deleted the API key for the sub-account
          content:
            application/json:
              schema:
                type: object
                properties:
                  subAccount:
                    type: string
                    example: "mexc1"
                    description: The sub-account name from which the API key was deleted.
        "400":
          description: Bad request due to missing or invalid parameters
        "401":
          description: Authentication failed, invalid API key
        "500":
          description: Internal server error
  /api/v3/capital/sub-account/universalTransfer:
    post:
      summary: Perform a universal transfer between sub-account and master account
      description: This endpoint allows transferring assets between the master account and sub-accounts, either from or to SPOT or FUTURES accounts.
      operationId: universalTransfer
      security:
        - ApiKeyAuth: []
      tags:
        - Subaccount
      parameters:
        - name: fromAccount
          in: query
          required: false
          schema:
            type: string
            example: "FUTURES"
          description: The account to transfer from. Defaults to the master account if not provided.
        - name: toAccount
          in: query
          required: false
          schema:
            type: string
            example: "SPOT"
          description: The account to transfer to. Defaults to the master account if not provided.
        - name: fromAccountType
          in: query
          required: true
          schema:
            type: string
            enum:
              - SPOT
              - FUTURES
            example: "SPOT"
          description: The type of account from which the transfer is initiated (either SPOT or FUTURES).
        - name: toAccountType
          in: query
          required: true
          schema:
            type: string
            enum:
              - SPOT
              - FUTURES
            example: "FUTURES"
          description: The type of account to which the transfer is made (either SPOT or FUTURES).
        - name: asset
          in: query
          required: true
          schema:
            type: string
            example: "USDT"
          description: The asset to be transferred (e.g., USDT).
        - name: amount
          in: query
          required: true
          schema:
            type: string
            example: "1.82938475"
          description: The amount of the asset to transfer.
        - name: timestamp
          in: query
          required: true
          schema:
            type: string
            example: "1632374792000"
          description: The timestamp of the request in milliseconds since the epoch.
        - name: signature
          in: query
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
          description: The signature of the request for authentication.

      responses:
        "200":
          description: Successfully completed the universal transfer
          content:
            application/json:
              schema:
                type: object
                properties:
                  tranId:
                    type: string
                    example: "11945860693"
                    description: The transfer ID for tracking the transaction.
        "400":
          description: Bad request due to missing or invalid parameters.
        "401":
          description: Authentication failed, invalid API key or signature.
        "500":
          description: Internal server error.
    get:
      summary: Retrieve details of past universal transfers between sub-accounts and master account
      description: This endpoint retrieves information on previous universal transfers between sub-accounts and master accounts, including transfer details such as asset, amount, and status.
      operationId: getUniversalTransferHistory
      security:
        - ApiKeyAuth: []
      tags:
        - Subaccount
      parameters:
        - name: fromAccount
          in: query
          required: false
          schema:
            type: string
            example: "SPOT"
          description: The account from which the transfer was initiated. If not provided, defaults to the master account.
        - name: toAccount
          in: query
          required: false
          schema:
            type: string
            example: "FUTURES"
          description: The account to which the transfer was made. If not provided, defaults to the master account.
        - name: fromAccountType
          in: query
          required: true
          schema:
            type: string
            enum:
              - SPOT
              - FUTURES
            example: "SPOT"
          description: The type of the account from which the transfer was initiated (either SPOT or FUTURES).
        - name: toAccountType
          in: query
          required: true
          schema:
            type: string
            enum:
              - SPOT
              - FUTURES
            example: "FUTURES"
          description: The type of the account to which the transfer was made (either SPOT or FUTURES).
        - name: startTime
          in: query
          required: false
          schema:
            type: string
            example: "1632374792000"
          description: The start time (in milliseconds since epoch) for filtering transfers.
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            example: "1632461192000"
          description: The end time (in milliseconds since epoch) for filtering transfers.
        - name: page
          in: query
          required: false
          schema:
            type: string
            example: "1"
          description: The page number to retrieve. Default value is `1`.
        - name: limit
          in: query
          required: false
          schema:
            type: string
            example: "500"
          description: The number of records to retrieve per page. Default is `500`, maximum is `500`.
        - name: timestamp
          in: query
          required: true
          schema:
            type: string
            example: "1632374792000"
          description: The timestamp of the request in milliseconds since the epoch.
        - name: signature
          in: query
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
          description: The signature of the request for authentication.

      responses:
        "200":
          description: Successfully retrieved universal transfer history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferHistory"

        "400":
          description: Bad request due to missing or invalid parameters.
        "401":
          description: Authentication failed, invalid API key or signature.
        "500":
          description: Internal server error.
  /api/v3/sub-account/asset:
    get:
      summary: Query asset balances of a sub-account
      description: This endpoint allows you to query the asset balances (both free and locked) for a specific sub-account and account type (currently supports SPOT).
      operationId: querySubAccountAsset
      security:
        - ApiKeyAuth: []
      tags:
        - Subaccount
      parameters:
        - name: subAccount
          in: query
          required: true
          schema:
            type: string
            example: "account1"
          description: The name of the sub-account. Only one sub-account can be queried at a time.
        - name: accountType
          in: query
          required: true
          schema:
            type: string
            enum:
              - SPOT
              - FUTURES
            example: "SPOT"
          description: The account type to query. Only "SPOT" is currently supported.
        - name: timestamp
          in: query
          required: true
          schema:
            type: string
            example: "1632374792000"
          description: The timestamp of the request in milliseconds since the epoch.
        - name: signature
          in: query
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
          description: The signature of the request for authentication.

      responses:
        "200":
          description: Successfully retrieved asset balances for the sub-account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Assets"

        "400":
          description: Bad request due to missing or invalid parameters.
        "401":
          description: Authentication failed, invalid API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/config/getall:
    get:
      summary: Query currency information and smart contract addresses
      description: This endpoint retrieves detailed information about various currencies, including withdrawal and deposit capabilities, network details, and smart contract addresses.
      operationId: queryCurrencyInfo
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      responses:
        "200":
          description: Successfully retrieved currency information and network details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Capital"

        "400":
          description: Bad request due to invalid or missing parameters.
        "401":
          description: Authentication failed due to invalid API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/withdraw:
    post:
      summary: Withdraw cryptocurrency
      description: This endpoint allows a user to withdraw a cryptocurrency to an external address.
      operationId: withdrawCryptocurrency
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: coin
          in: query
          description: The currency symbol (e.g., "EOS").
          required: true
          schema:
            type: string
            example: "EOS"
        - name: withdrawOrderId
          in: query
          description: A unique identifier for the withdrawal order (optional).
          required: false
          schema:
            type: string
            example: null
        - name: network
          in: query
          description: The network to use for withdrawal (e.g., "EOS").
          required: false
          schema:
            type: string
            example: "EOS"
        - name: contractAddress
          in: query
          description: The contract address for the coin (optional).
          required: false
          schema:
            type: string
            example: null
        - name: address
          in: query
          description: The external address to which the cryptocurrency will be withdrawn.
          required: true
          schema:
            type: string
            example: "zzqqqqqqqqqq"
        - name: memo
          in: query
          description: The memo for the withdrawal (if required by the address).
          required: false
          schema:
            type: string
            example: "MX10086"
        - name: amount
          in: query
          description: The amount of cryptocurrency to withdraw.
          required: true
          schema:
            type: string
            example: "10"
        - name: remark
          in: query
          description: An optional remark for the withdrawal request.
          required: false
          schema:
            type: string
            example: null
        - name: timestamp
          in: query
          description: The timestamp of the request, in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully initiated the withdrawal request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "7213fea8e94b4a5593d507237e5a555b"
                    description: The unique ID of the withdrawal request.
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error
    delete:
      summary: Cancel a cryptocurrency withdrawal
      description: This endpoint allows a user to cancel a previously initiated withdrawal request by providing the withdrawal ID.
      operationId: cancelWithdraw
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: id
          in: query
          description: The unique ID of the withdrawal request to cancel.
          required: true
          schema:
            type: string
            example: "ca7bd51895134fb5bd749f1cf875b8af"
        - name: timestamp
          in: query
          description: The timestamp of the request, in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully canceled the withdrawal request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "ca7bd51895134fb5bd749f1cf875b8af"
                    description: The unique ID of the canceled withdrawal request.
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/deposit/hisrec:
    get:
      summary: Query deposit history
      description: This endpoint allows users to query their deposit history, including coin details, network, status, and other information.
      operationId: queryDepositHistory
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: coin
          in: query
          description: The currency symbol (e.g., "EOS").
          required: false
          schema:
            type: string
            example: "EOS"
        - name: status
          in: query
          description: The status of the deposit (e.g., "5" for completed, other status codes might be available).
          required: false
          schema:
            type: string
            example: "5"
        - name: startTime
          in: query
          description: The start timestamp of the query range in milliseconds (defaults to 7 days ago).
          required: false
          schema:
            type: string
            example: "1659385600000"
        - name: endTime
          in: query
          description: The end timestamp of the query range in milliseconds (defaults to current time).
          required: false
          schema:
            type: string
            example: "1660441600000"
        - name: limit
          in: query
          description: The number of records to return (max 1000, default is 1000).
          required: false
          schema:
            type: string
            example: "1000"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully retrieved deposit history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deposit"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/withdraw/history:
    get:
      summary: Query withdrawal history
      description: This endpoint allows users to query their withdrawal history for a specific coin. It supports filtering by coin type, withdrawal status, and time range.
      operationId: queryWithdrawHistory
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: coin
          in: query
          description: The cryptocurrency symbol (e.g., "USDT").
          required: false
          schema:
            type: string
            example: "USDT"
        - name: status
          in: query
          description: The status of the withdrawal (e.g., "3" for completed).
          required: false
          schema:
            type: string
            example: "3"
        - name: limit
          in: query
          description: The maximum number of records to return. Default is 1000, max is 1000.
          required: false
          schema:
            type: string
            example: "1000"
        - name: startTime
          in: query
          description: The start timestamp of the query range in milliseconds (defaults to 7 days ago).
          required: false
          schema:
            type: string
            example: "1659385600000"
        - name: endTime
          in: query
          description: The end timestamp of the query range in milliseconds (defaults to the current time).
          required: false
          schema:
            type: string
            example: "1660441600000"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully retrieved withdrawal history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/History"

        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/deposit/address:
    post:
      summary: Generate a deposit address
      description: This endpoint allows users to generate a deposit address for a specific coin and network. It also provides the necessary memo or tag if applicable.
      operationId: generateDepositAddress
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: coin
          in: query
          description: The cryptocurrency symbol (e.g., "USDT", "EOS").
          required: true
          schema:
            type: string
            example: "EOS"
        - name: network
          in: query
          description: The deposit network to use for the cryptocurrency (e.g., "EOS", "TRC20").
          required: true
          schema:
            type: string
            example: "EOS"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully generated the deposit address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepositAddress"

        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
    get:
      summary: Retrieve deposit addresses
      description: This endpoint allows users to get deposit addresses for a specific coin and network. It returns the available deposit addresses and any associated memo (if applicable).
      operationId: getDepositAddress
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: coin
          in: query
          description: The cryptocurrency symbol (e.g., "USDT", "EOS").
          required: true
          schema:
            type: string
            example: "USDT"
        - name: network
          in: query
          description: (Optional) The deposit network (e.g., "TRC20", "BEP20(BSC)", "ERC20"). If not provided, all networks for the specified coin are returned.
          required: false
          schema:
            type: string
            example: "TRC20"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully retrieved deposit addresses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Address"

        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/withdraw/address:
    get:
      summary: Retrieve withdrawal addresses
      description: This endpoint allows users to get withdrawal addresses for a specific coin and network. It returns available withdrawal addresses, associated address tags (if applicable), and any memo (if required).
      operationId: getWithdrawAddress
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: coin
          in: query
          description: The cryptocurrency symbol (e.g., "USDT", "EOS").
          required: false
          schema:
            type: string
            example: "USDT"
        - name: page
          in: query
          description: (Optional) The page number of the results. Default is 1.
          required: false
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          description: (Optional) The number of results per page. Default is 20, and the maximum is 100.
          required: false
          schema:
            type: integer
            example: 20
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully retrieved withdrawal addresses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/withdrawHistory"

        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.

  /api/v3/capital/transfer:
    post:
      summary: Transfer assets between account types
      description: This endpoint allows users to transfer assets between different account types such as "SPOT" and "FUTURES". It is useful for managing funds across different trading accounts.
      operationId: userUniversalTransfer
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: fromAccountType
          in: query
          required: true
          description: 'The account type to transfer assets from. Possible values: "SPOT", "FUTURES"'

          schema:
            type: string
            enum: ["SPOT", "FUTURES"]
            example: "FUTURES"
        - name: toAccountType
          in: query
          description: 'The account type to transfer assets to. Possible values: "SPOT", "FUTURES".'
          required: true
          schema:
            type: string
            enum: ["SPOT", "FUTURES"]
            example: "SPOT"
        - name: asset
          in: query
          description: The asset to transfer (e.g., "USDT", "BTC").
          required: true
          schema:
            type: string
            example: "USDT"
        - name: amount
          in: query
          description: The amount of the asset to transfer.
          required: true
          schema:
            type: string
            example: "1"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully transferred the asset.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tranId:
                    type: string
                    example: "c45d800a47ba4cbc876a5cd29388319"
                    description: The transaction ID of the transfer.

        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
    get:
      summary: Query user universal transfer history
      description: This endpoint allows users to query the history of their transfers between account types (e.g., from SPOT to FUTURES or vice versa).
      operationId: userUniversalTransferHistory
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: fromAccountType
          in: query
          description: 'The account type from which assets were transferred. Possible values: "SPOT", "FUTURES".'
          required: true
          schema:
            type: string
            enum: ["SPOT", "FUTURES"]
            example: "SPOT"
        - name: toAccountType
          in: query
          description: 'The account type to which assets were transferred. Possible values: "SPOT", "FUTURES".'
          required: true
          schema:
            type: string
            enum: ["SPOT", "FUTURES"]
            example: "FUTURES"
        - name: startTime
          in: query
          description: The start time for the query (in milliseconds). If not provided, defaults to the last 7 days.
          required: false
          schema:
            type: string
            example: "1615423578000"
        - name: endTime
          in: query
          description: The end time for the query (in milliseconds). If not provided, defaults to the current time.
          required: false
          schema:
            type: string
            example: "1615865578000"
        - name: page
          in: query
          description: The page number for pagination. Defaults to 1.
          required: false
          schema:
            type: string
            example: "1"
        - name: size
          in: query
          description: The number of records per page. Default is 10, and the maximum is 100.
          required: false
          schema:
            type: string
            example: "10"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully fetched the universal transfer history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"

        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/transfer/tranId:
    get:
      summary: Query user universal transfer history by tranId
      description: This endpoint allows users to query a specific transfer record by its `tranId`.
      operationId: queryUserUniversalTransferHistoryByTranId
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: tranId
          in: query
          description: The unique transfer ID to query the specific transfer.
          required: true
          schema:
            type: string
            example: "cb28c88cd20c42819e4d5148d5fb5742"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully fetched the transfer record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfers"

        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/convert/list:
    get:
      summary: Get assets that can be converted into MX
      description: This endpoint allows users to retrieve the list of assets that can be converted into MX, along with their balance and conversion details.
      operationId: getAssetsForConversionToMX
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully fetched the list of assets that can be converted into MX.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversionList"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/convert:
    post:
      summary: Convert dust balances into a single asset (usually MX)
      description: This endpoint allows users to convert small amounts of various assets (dust) into a single asset, such as MX, for easier management.
      operationId: dustTransfer
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: asset
          in: query
          description: A comma-separated list of assets (up to 15) to be converted.
          required: true
          schema:
            type: string
            example: "BTC,FIL,ETH"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully converted dust balances into a single asset.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversion"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
    get:
      summary: Query the history of dust balance conversions
      description: This endpoint allows users to view the history of their dust conversions, including details of each conversion, such as the total amount converted and the associated fees.
      operationId: dustLogQuery
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: startTime
          in: query
          description: The start time of the period for which to retrieve dust conversion logs. (Optional)
          required: false
          schema:
            type: integer
            format: int64
            example: 1632374792000
        - name: endTime
          in: query
          description: The end time of the period for which to retrieve dust conversion logs. (Optional)
          required: false
          schema:
            type: integer
            format: int64
            example: 1632374792000
        - name: page
          in: query
          description: The page number of results to retrieve. Default is 1.
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        - name: limit
          in: query
          description: The maximum number of records to retrieve per page. Default is 1, and max is 1000.
          required: false
          schema:
            type: integer
            default: 1
            maximum: 1000
            example: 1
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"

      responses:
        "200":
          description: Successfully retrieved the dust conversion history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversions"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/transfer/internal:
    post:
      summary: Perform an internal transfer between accounts
      description: This endpoint allows users to transfer assets to another account, identified by email, UID, or mobile number.
      operationId: internalTransfer
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: toAccountType
          in: query
          description: The type of account to transfer funds to. Accepted values are "EMAIL", "UID", or "MOBILE".
          required: true
          schema:
            type: string
            enum: [EMAIL, UID, MOBILE]
            example: "EMAIL"
        - name: toAccount
          in: query
          description: The account identifier to transfer funds to (email address, UID, or mobile number).
          required: true
          schema:
            type: string
            example: "user@example.com"
        - name: areaCode
          in: query
          description: The area code for a mobile number. This is only needed if the transfer is made to a mobile number.
          required: false
          schema:
            type: string
            example: "1"
        - name: asset
          in: query
          description: The asset being transferred (e.g., BTC, USDT).
          required: true
          schema:
            type: string
            example: "USDT"
        - name: amount
          in: query
          description: The amount of the asset to be transferred.
          required: true
          schema:
            type: string
            example: "100"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: Successfully initiated the internal transfer.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tranId:
                    type: string
                    description: The unique transaction ID for the transfer.
                    example: "c45d800a47ba4cbc876a5cd29388319"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
    get:
      summary: Query the internal transfer history
      description: This endpoint returns the history of internal transfers for the specified time range or based on `tranId`.
      operationId: queryInternalTransferHistory
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: startTime
          in: query
          description: The start time for querying transfers (in milliseconds). If not provided, defaults to 7 days ago.
          required: false
          schema:
            type: string
            example: "1640995200000"
        - name: endTime
          in: query
          description: The end time for querying transfers (in milliseconds). If not provided, defaults to the current time.
          required: false
          schema:
            type: string
            example: "1641580800000"
        - name: page
          in: query
          description: The page number for pagination. Defaults to 1.
          required: false
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          description: The limit for number of records per page. Defaults to 10.
          required: false
          schema:
            type: integer
            example: 10
        - name: tranId
          in: query
          description: A specific transfer ID to query. If provided, filters the results to this specific transaction.
          required: false
          schema:
            type: string
            example: "11945860693"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: A successful response containing internal transfer history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalTransfer"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/capital/withdraw/apply:
    post:
      summary: Apply for a withdrawal request
      description: This endpoint allows users to initiate a withdrawal of their assets to a specified address and network.
      operationId: applyWithdrawal
      security:
        - ApiKeyAuth: []
      tags:
        - Wallet
      parameters:
        - name: coin
          in: query
          description: The coin being withdrawn (e.g., EOS, BTC, ETH).
          required: true
          schema:
            type: string
            example: "EOS"
        - name: withdrawOrderId
          in: query
          description: A specific withdrawal order ID if you want to reference an existing order. This is optional.
          required: false
          schema:
            type: string
            example: "12345abcde"
        - name: network
          in: query
          description: The network to use for the withdrawal (e.g., EOS, ERC20, TRC20). It must be supported by the asset.
          required: false
          schema:
            type: string
            example: "EOS"
        - name: address
          in: query
          description: The withdrawal address where the funds should be sent.
          required: true
          schema:
            type: string
            example: "zzqqqqqqqqqq"
        - name: memo
          in: query
          description: An optional memo if required by the network (e.g., for EOS, XMR).
          required: false
          schema:
            type: string
            example: "MX10086"
        - name: amount
          in: query
          description: The amount of the asset to withdraw.
          required: true
          schema:
            type: string
            example: "10"
        - name: remark
          in: query
          description: A remark to associate with the withdrawal. This is optional.
          required: false
          schema:
            type: string
            example: "Payment for invoice"
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: string
            example: "1632374792000"
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: A successful withdrawal application.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique withdrawal ID for the transaction.
                    example: "7213fea8e94b4a5593d507237e5a555b"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/rebate/taxQuery:
    get:
      summary: Get rebate history records
      description: This endpoint allows users to query rebate history records, including details on spot and futures rebates.
      operationId: getRebateHistory
      security:
        - ApiKeyAuth: []
      tags:
        - Rebate Endpoints
      parameters:
        - name: startTime
          in: query
          description: The start time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1637651320000
        - name: endTime
          in: query
          description: The end time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1637651320000
        - name: page
          in: query
          description: The page number for paginated results. Default is 1.
          required: false
          schema:
            type: integer
            example: 1
        - name: recvWindow
          in: query
          description: The maximum acceptable time window in milliseconds for the request to be processed. Default is 5000 ms.
          required: false
          schema:
            type: integer
            example: 5000
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: integer
            example: 1637651320000
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: Successful response with rebate history records.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RebateHistory"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/rebate/detail:
    get:
      summary: Get detailed rebate records
      description: This endpoint retrieves detailed rebate records for the user, including the asset type, rebate rate, and transaction details.
      operationId: getRebateRecordsDetail
      security:
        - ApiKeyAuth: []
      tags:
        - Rebate Endpoints
      parameters:
        - name: startTime
          in: query
          description: The start time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1637651320000
        - name: endTime
          in: query
          description: The end time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1637651320000
        - name: page
          in: query
          description: The page number for paginated results. Default is 1.
          required: false
          schema:
            type: integer
            example: 1
        - name: recvWindow
          in: query
          description: The maximum acceptable time window in milliseconds for the request to be processed. Default is 5000 ms.
          required: false
          schema:
            type: integer
            example: 5000
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: integer
            example: 1637651320000
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: Successful response with rebate record details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RebateDetails"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/rebate/detail/kickback:
    get:
      summary: Get self rebate records detail
      description: This endpoint retrieves detailed self-rebate records, including the asset type, rebate rate, and transaction details for the user.
      operationId: getSelfRebateRecordsDetail
      security:
        - ApiKeyAuth: []
      tags:
        - Rebate Endpoints
      parameters:
        - name: startTime
          in: query
          description: The start time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1637651320000
        - name: endTime
          in: query
          description: The end time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1637651320000
        - name: page
          in: query
          description: The page number for paginated results. Default is 1.
          required: false
          schema:
            type: integer
            example: 1
        - name: recvWindow
          in: query
          description: The maximum acceptable time window in milliseconds for the request to be processed. Default is 5000 ms.
          required: false
          schema:
            type: integer
            example: 5000
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: integer
            example: 1637651320000
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: Successful response with self rebate record details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Kickback"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/rebate/referCode:
    get:
      summary: Get the referral code of the user
      description: This endpoint retrieves the referral code associated with the user account.
      operationId: queryReferCode
      security:
        - ApiKeyAuth: []
      tags:
        - Rebate Endpoints
      parameters:
        - name: recvWindow
          in: query
          description: The maximum acceptable time window in milliseconds for the request to be processed. Default is 5000 ms.
          required: false
          schema:
            type: integer
            example: 5000
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: integer
            example: 1637651320000
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: Successful response with the referral code.
          content:
            application/json:
              schema:
                type: object
                properties:
                  referCode:
                    type: string
                    description: The referral code associated with the user.
                    example: "in3jd"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/rebate/affiliate/commission:
    get:
      summary: Get affiliate commission record
      description: This endpoint retrieves the commission records for an affiliate, including spot, ETF, futures, and total commissions.
      operationId: getAffiliateCommissionRecord
      security:
        - ApiKeyAuth: []
      tags:
        - Rebate Endpoints
      parameters:
        - name: startTime
          in: query
          description: The start time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1637145478000
        - name: endTime
          in: query
          description: The end time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1637145911000
        - name: inviteCode
          in: query
          description: The invite code for the affiliate.
          required: false
          schema:
            type: string
            example: "mexc-12345"
        - name: page
          in: query
          description: The page number for paginated results. Default is 1.
          required: false
          schema:
            type: integer
            example: 1
        - name: pageSize
          in: query
          description: The number of records per page. Default is 10.
          required: false
          schema:
            type: integer
            example: 10
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: integer
            example: 1637145911000
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: Successful response with affiliate commission record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Commission"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/rebate/affiliate/withdraw:
    get:
      summary: Get affiliate withdrawal record
      description: This endpoint retrieves withdrawal records for an affiliate, including asset type and withdrawal amounts.
      operationId: getAffiliateWithdrawRecord
      security:
        - ApiKeyAuth: []
      tags:
        - Rebate Endpoints
      parameters:
        - name: startTime
          in: query
          description: The start time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1682320000000
        - name: endTime
          in: query
          description: The end time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1682322000000
        - name: page
          in: query
          description: The page number for paginated results. Default is 1.
          required: false
          schema:
            type: integer
            example: 1
        - name: pageSize
          in: query
          description: The number of records per page. Default is 10.
          required: false
          schema:
            type: integer
            example: 10
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: integer
            example: 1682321417000
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: Successful response with affiliate withdrawal records.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RebateWithdraw"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/rebate/affiliate/commission/detail:
    get:
      summary: Get detailed affiliate commission record
      description: This endpoint retrieves detailed commission records for an affiliate, including commission types, amounts, and trade details.
      operationId: getAffiliateCommissionDetailRecord
      security:
        - ApiKeyAuth: []
      tags:
        - Rebate Endpoints
      parameters:
        - name: startTime
          in: query
          description: The start time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1689264000000
        - name: endTime
          in: query
          description: The end time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1689264000000
        - name: inviteCode
          in: query
          description: The invite code for the affiliate.
          required: false
          schema:
            type: string
            example: "mexc-12345"
        - name: page
          in: query
          description: The page number for paginated results. Default is 1.
          required: false
          schema:
            type: integer
            example: 1
        - name: pageSize
          in: query
          description: The number of records per page. Default is 10.
          required: false
          schema:
            type: integer
            example: 10
        - name: type
          in: query
          description: The commission type. 1 = spot, 2 = futures, 3 = ETF.
          required: false
          schema:
            type: integer
            example: 2
        - name: timestamp
          in: query
          description: The timestamp of the request in milliseconds.
          required: true
          schema:
            type: integer
            example: 1689264000000
        - name: signature
          in: query
          description: The HMAC SHA256 signature of the request parameters for authentication.
          required: true
          schema:
            type: string
            example: "abcdef1234567890"
      responses:
        "200":
          description: Successful response with affiliate commission details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommissionDetail"
        "400":
          description: Bad request, invalid parameters or missing data.
        "401":
          description: Unauthorized, failed authentication due to incorrect API key or signature.
        "500":
          description: Internal server error.
  /api/v3/rebate/affiliate/campaign:
    get:
      summary: Get affiliate campaign data
      description: This endpoint retrieves the affiliate campaign data, including the invite code, click count, sign-ups, deposits, and commissions.
      operationId: getAffiliateCampaignData
      security:
        - ApiKeyAuth: []
      tags:
        - Rebate Endpoints
      parameters:
        - name: startTime
          in: query
          description: The start time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1693152531000
        - name: endTime
          in: query
          description: The end time for the query range in Unix timestamp (milliseconds).
          required: false
          schema:
            type: integer
            example: 1695125287000
        - name: page
          in: query
          description: The page number for paginated results. Default is 1.
          required: false
          schema:
            type: integer
[...]
