openapi: 3.0.0
info:
  title: OKX API
  version: 1.0.0
  description: |
    Welcome to OKX Developer document!  
    excluded below endpoints as they are if you need them please add and commit to https://github.com/kanekoshoyu/exchange-collection):
    - Trading Account (this might become needed, will add when we need it)
    - Block Trading
    - Financial Producer
    - Affiliate
    - Status
    - Announcement

servers:
  - url: https://www.okx.com/api/v5
    description: Main REST API

tags:
  - name: Order Book Trading
  - name: Spread Trading
  - name: Public Data
  - name: Trading Statistics
  - name: Funding Account
  - name: Sub-account
paths:
  /trade/order:
    post:
      summary: Place a trade order
      tags:
        - Order Book Trading
      requestBody:
        description: Order details to place a trade
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceOrderRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: get a trade order
      tags:
        - Order Book Trading
      parameters:
        - name: instId
          in: query
          description: >
            Instrument ID (e.g., BTC-USDT).  
            Only applicable to live instruments.
          required: true
          schema:
            type: string
            example: "BTC-USDT"
        - name: ordId
          in: query
          description: >
            Order ID.  
            Either `ordId` or `clOrdId` is required.  
            If both are provided, `ordId` will take precedence.
          required: false
          schema:
            type: string
            example: "123456789"
        - name: clOrdId
          in: query
          description: >
            Client Order ID as assigned by the client.  
            If the `clOrdId` is associated with multiple orders, only the latest one will be returned.  
            Either `ordId` or `clOrdId` is required.
          required: false
          schema:
            type: string
            example: "clientOrder123"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/batch-orders:
    post:
      summary: Place a batch orders
      tags:
        - Order Book Trading
      requestBody:
        description: Order details to place a trade
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PlaceOrderRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/cancel-order:
    post:
      summary: cancel an order
      description: "Cancel an incomplete order.<br>Rate Limit: 60 requests per 2 seconds<br>Rate limit rule (except Options): UserID + Instrument ID<br>Rate limit rule (Options only): UserID + Instrument Family"
      tags:
        - Order Book Trading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOrderRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/cancel-batch-orders:
    post:
      summary: cancel multiple order
      description: "Cancel incomplete orders in batches. Maximum 20 orders can be canceled per request. Request parameters should be passed in the form of an array.<br>Rate Limit: 300 orders per 2 seconds<br>Rate limit rule (except Options): UserID + Instrument ID<br>Rate limit rule (Options only): UserID + Instrument Family"
      tags:
        - Order Book Trading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/CancelOrderRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/amend-order:
    post:
      summary: amend an order
      description: "Amend an incomplete order.<br>Rate Limit: 60 requests per 2 seconds<br>Rate Limit of lead instruments for Copy Trading: 4 requests per 2 seconds<br>Rate limit rule (except Options): UserID + Instrument ID<br>Rate limit rule (Options only): UserID + Instrument Family<br>Rate limit of this endpoint will also be affected by the rules Sub-account rate limit and Fill ratio based sub-account rate limit."
      tags:
        - Order Book Trading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AmendOrderRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/amend-batch-orders:
    post:
      summary: amend an order
      description: "Amend an incomplete order.<br>Rate Limit: 60 requests per 2 seconds<br>Rate Limit of lead instruments for Copy Trading: 4 requests per 2 seconds<br>Rate limit rule (except Options): UserID + Instrument ID<br>Rate limit rule (Options only): UserID + Instrument Family<br>Rate limit of this endpoint will also be affected by the rules Sub-account rate limit and Fill ratio based sub-account rate limit."
      tags:
        - Order Book Trading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AmendOrderRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/close-position:
    post:
      summary: close position of an instrument
      description: "Close the position of an instrument via a market order.<br>Rate Limit: 20 requests per 2 seconds<br>Rate limit rule (except Options): UserID + Instrument ID<br>Rate limit rule (Options only): UserID + Instrument Family"
      tags:
        - Order Book Trading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClosePositionRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/orders-pending:
    get:
      summary: get Order list
      description: "Retrieve all incomplete orders under the current account.<br>Rate Limit: 60 requests per 2 seconds<br>Rate limit rule: UserID"
      tags:
        - Order Book Trading
      parameters:
        - name: instType
          in: query
          description: Instrument type
          required: false
          schema:
            type: string
            enum: [SPOT, MARGIN, SWAP, FUTURES, OPTION]
        - name: uly
          in: query
          description: Underlying
          required: false
          schema:
            type: string
        - name: instFamily
          in: query
          description: Instrument family (Applicable to FUTURES/SWAP/OPTION)
          required: false
          schema:
            type: string
        - name: instId
          in: query
          description: Instrument ID, e.g., BTC-USD-200927
          required: false
          schema:
            type: string
        - name: ordType
          in: query
          description: Order type
          required: false
          schema:
            type: string
            enum:
              - market
              - limit
              - post_only
              - fok
              - ioc
              - optimal_limit_ioc
              - mmp
              - mmp_and_post_only
              - op_fok
        - name: state
          in: query
          description: State of the order
          required: false
          schema:
            type: string
            enum: [live, partially_filled]
        - name: after
          in: query
          description: Pagination of data to return records earlier than the requested ordId
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Pagination of data to return records newer than the requested ordId
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results per request. The maximum is 100; The default is 100.
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/orders-history:
    get:
      summary: get Order history
      description: "Get completed orders which are placed in the last 7 days, including those placed 7 days ago but completed in the last 7 days.<br>The incomplete orders that have been canceled are only reserved for 2 hours.<br>Rate Limit: 40 requests per 2 seconds<br>Rate limit rule: UserID"
      tags:
        - Order Book Trading
      parameters:
        - name: instType
          in: query
          description: Instrument type
          required: true
          schema:
            type: string
            enum: [SPOT, MARGIN, SWAP, FUTURES, OPTION]
        - name: uly
          in: query
          description: Underlying (Applicable to FUTURES/SWAP/OPTION)
          required: false
          schema:
            type: string
        - name: instFamily
          in: query
          description: Instrument family (Applicable to FUTURES/SWAP/OPTION)
          required: false
          schema:
            type: string
        - name: instId
          in: query
          description: Instrument ID, e.g., BTC-USDT
          required: false
          schema:
            type: string
        - name: ordType
          in: query
          description: Order type
          required: false
          schema:
            type: string
            enum:
              - market
              - limit
              - post_only
              - fok
              - ioc
              - optimal_limit_ioc
              - mmp
              - mmp_and_post_only
              - op_fok
        - name: state
          in: query
          description: State of the order
          required: false
          schema:
            type: string
            enum: [canceled, filled, mmp_canceled]
        - name: category
          in: query
          description: Category of the order
          required: false
          schema:
            type: string
            enum:
              [twap, adl, full_liquidation, partial_liquidation, delivery, ddh]
        - name: after
          in: query
          description: Pagination of data to return records earlier than the requested ordId
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Pagination of data to return records newer than the requested ordId
          required: false
          schema:
            type: string
        - name: begin
          in: query
          description: Filter with a begin timestamp (Unix timestamp format in milliseconds)
          required: false
          schema:
            type: string
        - name: end
          in: query
          description: Filter with an end timestamp (Unix timestamp format in milliseconds)
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results per request. The maximum is 100; The default is 100.
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/orders-history-archive:
    get:
      summary: GET Order history (last 3 months)
      description: "Get completed orders which are placed in the last 7 days, including those placed 3 months ago but completed in the last 7 days.<br>The incomplete orders that have been canceled are only reserved for 2 hours.<br>Rate Limit: 40 requests per 2 seconds<br>Rate limit rule: UserID"
      tags:
        - Order Book Trading
      parameters:
        - name: instType
          in: query
          description: Instrument type
          required: true
          schema:
            type: string
            enum: [SPOT, MARGIN, SWAP, FUTURES, OPTION]
        - name: uly
          in: query
          description: Underlying (Applicable to FUTURES/SWAP/OPTION)
          required: false
          schema:
            type: string
        - name: instFamily
          in: query
          description: Instrument family (Applicable to FUTURES/SWAP/OPTION)
          required: false
          schema:
            type: string
        - name: instId
          in: query
          description: Instrument ID, e.g., BTC-USDT
          required: false
          schema:
            type: string
        - name: ordType
          in: query
          description: Order type
          required: false
          schema:
            type: string
            enum:
              - market
              - limit
              - post_only
              - fok
              - ioc
              - optimal_limit_ioc
              - mmp
              - mmp_and_post_only
              - op_fok
        - name: state
          in: query
          description: State of the order
          required: false
          schema:
            type: string
            enum: [canceled, filled, mmp_canceled]
        - name: category
          in: query
          description: Category of the order
          required: false
          schema:
            type: string
            enum:
              [twap, adl, full_liquidation, partial_liquidation, delivery, ddh]
        - name: after
          in: query
          description: Pagination of data to return records earlier than the requested ordId
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Pagination of data to return records newer than the requested ordId
          required: false
          schema:
            type: string
        - name: begin
          in: query
          description: Filter with a begin timestamp (Unix timestamp format in milliseconds)
          required: false
          schema:
            type: string
        - name: end
          in: query
          description: Filter with an end timestamp (Unix timestamp format in milliseconds)
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results per request. The maximum is 100; The default is 100.
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/fills:
    get:
      summary: GET transaction details
      description: "Retrieve recently-filled transaction details in the last 3 day.<br>Rate Limit: 60 requests per 2 seconds<br>Rate limit rule: UserID"
      tags:
        - Order Book Trading
      parameters:
        - name: instType
          in: query
          description: Instrument type.
          required: false
          schema:
            type: string
            enum: [SPOT, MARGIN, SWAP, FUTURES, OPTION]
        - name: uly
          in: query
          description: Underlying (Applicable to FUTURES/SWAP/OPTION).
          required: false
          schema:
            type: string
        - name: instFamily
          in: query
          description: Instrument family (Applicable to FUTURES/SWAP/OPTION).
          required: false
          schema:
            type: string
        - name: instId
          in: query
          description: Instrument ID, e.g., BTC-USDT.
          required: false
          schema:
            type: string
        - name: ordId
          in: query
          description: Order ID.
          required: false
          schema:
            type: string
        - name: subType
          in: query
          description: Transaction type.
          required: false
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 100
              - 101
              - 102
              - 103
              - 104
              - 105
              - 106
              - 107
              - 110
              - 111
              - 118
              - 119
              - 125
              - 126
              - 127
              - 128
              - 204
              - 205
              - 206
              - 207
              - 208
              - 209
              - 212
              - 213
              - 270
              - 271
              - 272
              - 273
              - 274
              - 275
        - name: after
          in: query
          description: Pagination to return records earlier than the requested billId.
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Pagination to return records newer than the requested billId.
          required: false
          schema:
            type: string
        - name: begin
          in: query
          description: Filter with a begin timestamp (ts). Unix timestamp in milliseconds, e.g., 1597026383085.
          required: false
          schema:
            type: integer
            format: int64
        - name: end
          in: query
          description: Filter with an end timestamp (ts). Unix timestamp in milliseconds, e.g., 1597026383085.
          required: false
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          description: Number of results per request. Maximum is 100; Default is 100.
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/TransactionsResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/fills-history:
    get:
      summary: GET transaction history
      tags:
        - Order Book Trading
      parameters:
        - name: instType
          in: query
          description: Instrument type.
          required: false
          schema:
            type: string
            enum: [SPOT, MARGIN, SWAP, FUTURES, OPTION]
        - name: uly
          in: query
          description: Underlying (Applicable to FUTURES/SWAP/OPTION).
          required: false
          schema:
            type: string
        - name: instFamily
          in: query
          description: Instrument family (Applicable to FUTURES/SWAP/OPTION).
          required: false
          schema:
            type: string
        - name: instId
          in: query
          description: Instrument ID, e.g., BTC-USDT.
          required: false
          schema:
            type: string
        - name: ordId
          in: query
          description: Order ID.
          required: false
          schema:
            type: string
        - name: subType
          in: query
          description: Transaction type.
          required: false
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 100
              - 101
              - 102
              - 103
              - 104
              - 105
              - 106
              - 107
              - 110
              - 111
              - 118
              - 119
              - 125
              - 126
              - 127
              - 128
              - 204
              - 205
              - 206
              - 207
              - 208
              - 209
              - 212
              - 213
              - 270
              - 271
              - 272
              - 273
              - 274
              - 275
        - name: after
          in: query
          description: Pagination to return records earlier than the requested billId.
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Pagination to return records newer than the requested billId.
          required: false
          schema:
            type: string
        - name: begin
          in: query
          description: Filter with a begin timestamp (ts). Unix timestamp in milliseconds, e.g., 1597026383085.
          required: false
          schema:
            type: integer
            format: int64
        - name: end
          in: query
          description: Filter with an end timestamp (ts). Unix timestamp in milliseconds, e.g., 1597026383085.
          required: false
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          description: Number of results per request. Maximum is 100; Default is 100.
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/TransactionsResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/easy-convert-currency-list:
    get:
      summary: Easy convert currency list
      tags:
        - Order Book Trading
      parameters:
        - name: source
          in: query
          description: Funding Source
          schema:
            type: string
            enum: ["1", "2"]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ConvertorResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/easy-convert:
    get:
      summary: Easy convert currency list
      tags:
        - Order Book Trading
      parameters:
        - name: fromCcy
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
            maxItems: 5
          description: Comma-separated list of small payment currencies to convert from. Maximum 5 currencies allowed.
        - name: toCcy
          in: query
          required: true
          schema:
            type: string
          description: Type of mainstream currency to convert to. Only one receiving currency is allowed, and it cannot be the same as the small payment currencies.
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum:
              - "1"
              - "2"
          description: "Funding source for the conversion. Default is 1. Possible values: <br>`1`: Trading account  <br>                       `2`: Funding account"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/EasyConvertorResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Place Easy convert currency
      tags:
        - Order Book Trading
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceConversionRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/EasyConvertorResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/easy-convert-history:
    get:
      summary: Easy convert history
      tags:
        - Order Book Trading
      description: "Get the history and status of easy convert trades in the past 7 days.<br>Rate Limit: 1 request per 2 seconds<br>Rate limit rule: UserID"
      parameters:
        - name: after
          in: query
          required: false
          description: Pagination of data to return records earlier than the requested time (exclude), Unix timestamp format in milliseconds, e.g. 1597026383085
          schema:
            type: string
        - name: before
          in: query
          required: false
          description: Pagination of data to return records newer than the requested time (exclude), Unix timestamp format in milliseconds, e.g. 1597026383085
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Number of results per request. The maximum is 100. The default is 100."
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/EasyConvertorResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/one-click-repay-currency-list:
    get:
      summary: Easy convert history
      tags:
        - Order Book Trading
      description: "Get list of debt currency data and repay currencies. Debt currencies include both cross and isolated debts.<br>Rate Limit: 1 request per 2 seconds<br>Rate limit rule: UserID"
      parameters:
        - name: deptType
          in: query
          required: false
          description: "Debt type,cross: cross,isolated: isolated"
          schema:
            type: string
            enum: ["isolated", "cross"]

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/RepayResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/one-click-repay:
    post:
      summary: Trade one-click repay
      tags:
        - Order Book Trading
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DebtRepayRequest"
      parameters:
        - name: deptType
          in: query
          required: false
          description: "Debt type,cross: cross,isolated: isolated"
          schema:
            type: string
            enum: ["isolated", "cross"]

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/EasyConvertorResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/one-click-repay-history:
    get:
      summary: Trade one-click repay
      tags:
        - Order Book Trading
      parameters:
        - name: after
          in: query
          required: false
          description: Pagination of data to return records earlier than the requested time (exclude), Unix timestamp format in milliseconds, e.g. 1597026383085
          schema:
            type: string
        - name: before
          in: query
          required: false
          description: Pagination of data to return records newer than the requested time (exclude), Unix timestamp format in milliseconds, e.g. 1597026383085
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Number of results per request. The maximum is 100. The default is 100."
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/EasyConvertorResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/mass-cancel:
    post:
      summary: Mass Cancel Order
      tags:
        - Order Book Trading
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MassCancelRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/CancelAllResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/account-rate-limit:
    get:
      summary: Get account rate limit
      tags:
        - Order Book Trading
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/RateLimitResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/order-precheck:
    post:
      summary: Get order precheck
      tags:
        - Order Book Trading
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrecheckResponse"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PreCheckResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/order-algo:
    post:
      summary: place algo order
      tags:
        - Order Book Trading
      description: "The algo order includes trigger order, oco order, conditional order, twap order and trailing order.<br>Rate Limit: 20 requests per 2 seconds<br>Rate Limit of lead instruments for Copy Trading: 1 request per 2 seconds<br>Rate limit rule (except Options): UserID + Instrument ID<br>Rate limit rule (Options only): UserID + Instrument Family"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/StopLossRequest"
                - $ref: "#/components/schemas/TriggerRequest"
                - $ref: "#/components/schemas/TrailingRequest"
                - $ref: "#/components/schemas/TwapRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/AlgoOrderResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Algo order details
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID"
      parameters:
        - name: algoId
          in: query
          required: false
          schema:
            type: string
          description: |
            Algorithmic Order ID. Either `algoId` or `algoClOrdId` must be provided.
            If both are passed, `algoId` will be used.
        - name: algoClOrdId
          in: query
          required: false
          schema:
            type: string
            pattern: "^[a-zA-Z0-9]{1,32}$"
          description: |
            Client-supplied Algorithmic Order ID. A combination of case-sensitive alphanumerics, all numbers, or all letters of up to 32 characters.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/AlgoOrderDetailedResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/cancel-algos:
    post:
      summary: cancel algo order
      tags:
        - Order Book Trading
      description: "Cancel unfilled algo orders. A maximum of 10 orders can be canceled per request. Request parameters should be passed in the form of an array.<br>Rate Limit: 20 requests per 2 seconds<br>Rate limit rule (except Options): UserID + Instrument ID<br>Rate limit rule (Options only): UserID + Instrument Family"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlgoOrderRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/AlgoOrderCancelResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/amend-algos:
    post:
      summary: Amend algo order
      tags:
        - Order Book Trading
      description: "Amend unfilled algo orders (Support Stop order and Trigger order only, not including Move_order_stop order, Iceberg order, TWAP order, Trailing Stop order).<br>Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/AlgoAmendRequest"
                - $ref: "#/components/schemas/AlgoStopRequest"
                - $ref: "#/components/schemas/AlgoTriggerRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/AlgoOrderResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/orders-algo-pending:
    get:
      summary: Retrieve a list of untriggered Algo orders under the current account.
      tags:
        - Order Book Trading
      parameters:
        - in: query
          name: ordType
          required: false
          schema:
            type: string
            description: |
              Order type. Supported values:
              - conditional: One-way stop order
              - oco: One-cancels-the-other order
              - trigger: Trigger order
              - move_order_stop: Trailing order
              - iceberg: Iceberg order
              - twap: TWAP order
              For conditional and oco, both can be used and separated with a comma.
        - in: query
          name: algoId
          required: false
          schema:
            type: string
            description: Algo ID.
        - in: query
          name: algoClOrdId
          required: false
          schema:
            type: string
            description: |
              Client-supplied Algo ID. A combination of case-sensitive alphanumerics, all numbers, or all letters of up to 32 characters.
        - in: query
          name: instType
          required: false
          schema:
            type: string
            enum:
              - SPOT
              - SWAP
              - FUTURES
              - MARGIN
            description: Instrument type.
        - in: query
          name: instId
          required: false
          schema:
            type: string
            description: Instrument ID, e.g. BTC-USDT.
        - in: query
          name: after
          required: false
          schema:
            type: string
            description: Pagination of data to return records earlier than the requested algoId.
        - in: query
          name: before
          required: false
          schema:
            type: string
            description: Pagination of data to return records newer than the requested algoId.
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
            description: Number of results per request.

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/AlgoOrderDetailedResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trade/orders-algo-history:
    get:
      summary: Retrieve a list of all algo orders under the current account in the last 3 months.
      tags:
        - Order Book Trading
      parameters:
        - in: query
          name: Type
          required: true
          schema:
            type: string
            description: |
              Order type. Supported values:
              - conditional: One-way stop order
              - oco: One-cancels-the-other order
              - trigger: Trigger order
              - move_order_stop: Trailing order
              - iceberg: Iceberg order
              - twap: TWAP order
              For conditional and oco, both can be used and separated with a comma.
        - in: query
          name: state
          required: false
          schema:
            type: string
            enum:
              - effective
              - canceled
              - order_failed
            description: State. Either `state` or `algoId` is required.
        - in: query
          name: algoId
          required: false
          schema:
            type: string
            description: Algo ID. Either `state` or `algoId` is required.
        - in: query
          name: instType
          required: false
          schema:
            type: string
            enum:
              - SPOT
              - SWAP
              - FUTURES
              - MARGIN
            description: Instrument type.
        - in: query
          name: instId
          required: false
          schema:
            type: string
            description: Instrument ID, e.g., BTC-USDT.
        - in: query
          name: after
          required: false
          schema:
            type: string
            description: Pagination of data to return records earlier than the requested algoId.
        - in: query
          name: before
          required: false
          schema:
            type: string
            description: Pagination of data to return records newer than the requested algoId.
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
            description: Number of results per request. The maximum is 100.

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/AlgoOrderDetailedResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/order-algo:
    post:
      summary: Amend algo order
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Grid trading works by the simple strategy of buy low and sell high. After you set the parameters, the system automatically places orders at incrementally increasing or decreasing prices. Overall, the grid bot seeks to capitalize on normal price volatility by placing buy and sell orders at certain regular intervals above and below a predefined base price.<br>Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/GridAlgoPlaceRequest"
                - $ref: "#/components/schemas/GridSpotRequest"
                - $ref: "#/components/schemas/GridContractRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/amend-order-algo:
    post:
      summary: Amend grid algo order
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridAmendRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/stop-order-algo:
    post:
      summary: A maximum of 10 orders can be stopped per request.
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridStopRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/close-position:
    post:
      summary: A maximum of 10 orders can be stopped per request.
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BotClosePositionRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/cancel-close-order:
    post:
      summary: Cancel close position order for contract grid
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BotCloseRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/order-instant-trigger:
    post:
      summary: Instant trigger Grid algo
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BotTriggerRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/BotTriggerResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/orders-algo-pending:
    get:
      summary: Grid order list
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - in: query
          name: algoOrdType
          required: true
          schema:
            type: string
            enum:
              - grid
              - contract_grid
          description: |
            Algo order type:
            - `grid`: Spot grid
            - `contract_grid`: Contract grid
        - in: query
          name: algoId
          required: false
          schema:
            type: string
          description: Algo ID.
        - in: query
          name: instId
          required: false
          schema:
            type: string
          description: |
            Instrument ID, e.g., BTC-USDT.
        - in: query
          name: instType
          required: false
          schema:
            type: string
            enum:
              - SPOT
              - MARGIN
              - FUTURES
              - SWAP
          description: |
            Instrument type:
            - `SPOT`
            - `MARGIN`
            - `FUTURES`
            - `SWAP`
        - in: query
          name: after
          required: false
          schema:
            type: string
          description: |
            Pagination of data to return records earlier than the requested `algoId`.
        - in: query
          name: before
          required: false
          schema:
            type: string
          description: |
            Pagination of data to return records newer than the requested `algoId`.
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 100
            maximum: 100
          description: |
            Number of results per request.
            - The maximum is 100.
            - The default is 100.

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/BotAlgoPendingResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/orders-algo-history:
    get:
      summary: algo order history
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - in: query
          name: algoOrdType
          required: true
          schema:
            type: string
            enum:
              - grid
              - contract_grid
          description: |
            Algo order type:
            - `grid`: Spot grid
            - `contract_grid`: Contract grid
        - in: query
          name: algoId
          required: false
          schema:
            type: string
          description: Algo ID.
        - in: query
          name: instId
          required: false
          schema:
            type: string
          description: |
            Instrument ID, e.g., BTC-USDT.
        - in: query
          name: instType
          required: false
          schema:
            type: string
            enum:
              - SPOT
              - MARGIN
              - FUTURES
              - SWAP
          description: |
            Instrument type:
            - `SPOT`
            - `MARGIN`
            - `FUTURES`
            - `SWAP`
        - in: query
          name: after
          required: false
          schema:
            type: string
          description: |
            Pagination of data to return records earlier than the requested `algoId`.
        - in: query
          name: before
          required: false
          schema:
            type: string
          description: |
            Pagination of data to return records newer than the requested `algoId`.
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 100
            maximum: 100
          description: |
            Number of results per request.
            - The maximum is 100.
            - The default is 100.

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/BotAlgoPendingResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/orders-algo-details:
    get:
      summary: algo order details
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - in: query
          name: algoOrdType
          required: true
          schema:
            type: string
            enum:
              - grid
              - contract_grid
          description: |
            Algo order type:
            - `grid`: Spot grid
            - `contract_grid`: Contract grid
        - in: query
          name: algoId
          required: false
          schema:
            type: string
          description: Algo ID.

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/BotAlgoPendingResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/sub-orders:
    get:
      summary: algo order details
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - name: algoOrdType
          in: query
          required: true
          schema:
            type: string
            enum:
              - grid
              - contract_grid
          description: |
            Algo order type:
            - `grid`: Spot grid
            - `contract_grid`: Contract grid
        - name: algoId
          in: query
          required: true
          schema:
            type: string
          description: Algo ID
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - live
              - filled
          description: Sub order state
        - name: groupId
          in: query
          required: false
          schema:
            type: string
          description: Group ID
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: |
            Pagination of data to return records earlier than the requested `ordId`.
        - name: before
          in: query
          required: false
          schema:
            type: string
          description: |
            Pagination of data to return records newer than the requested `ordId`.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: Number of results per request. The maximum is 100.

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/positions:
    get:
      summary: Grid algo order positions
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - name: algoOrdType
          in: query
          required: true
          schema:
            type: string
            enum:
              - grid
              - contract_grid
          description: |
            Algo order type:
            - `grid`: Spot grid
            - `contract_grid`: Contract grid
        - name: algoId
          in: query
          required: true
          schema:
            type: string
          description: Algo ID
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/OrderInfo"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/withdraw-income:
    post:
      summary: Spot grid withdraw income
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                algoId:
                  type: string
                  example: "448965992920907776"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/withdrawResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/compute-margin-balance:
    post:
      summary: Compute margin balance
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                algoId:
                  type: string
                  description: Algo ID
                type:
                  type: string
                  description: Adjust margin balance type
                  enum:
                    - add
                    - reduce
                amt:
                  type: string
                  description: Adjust margin balance amount. Default is zero.
              required:
                - algoId
                - type
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/MarginResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/margin-balance:
    post:
      summary: Adjust margin balance
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                algoId:
                  type: string
                  description: Algo ID
                type:
                  type: string
                  description: Adjust margin balance type
                  enum:
                    - add
                    - reduce
                amt:
                  type: string
                  description: Adjust margin balance amount. Default is zero.
              required:
                - algoId
                - type
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/BotTriggerResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/adjust-investment:
    post:
      summary: Adjust investment
      tags:
        - Order Book Trading
      security:
        - ApiKeyAuth: []
        - SignatureAuth: []
        - PassphraseAuth: []
        - TimestampAuth: []

      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                algoId:
                  type: string
                  description: Algo ID
                amt:
                  type: string
                  description: Adjust margin balance amount. Default is zero.
              required:
                - algoId
                - amt
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            algoId:
                              type: string

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/ai-param:
    get:
      summary: Grid AI parameter (public)
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - name: algoOrdType
          in: query
          required: true
          schema:
            type: string
            enum:
              - grid
              - contract_grid
          description: Algo order type (Spot grid or Contract grid)

        - name: instId
          in: query
          required: true
          schema:
            type: string
          description: Instrument ID, e.g., BTC-USDT

        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum:
              - long
              - short
              - neutral
          description: Contract grid type, required when `algoOrdType` is contract_grid

        - name: duration
          in: query
          required: false
          schema:
            type: string
            enum:
              - 7D
              - 30D
              - 180D
          description: Back testing duration. Default is 7D for Spot grid. Only 7D is available for Contract grid.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/AIParams"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/min-investment:
    post:
      summary: Compute min investment (public)
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MinInvestmentRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/MinInvestmentResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/rsi-back-testing:
    post:
      summary: RSI back testing (public)
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - name: instId
          in: query
          required: true
          description: Instrument ID (e.g., BTC-USDT), only applicable to SPOT.
          schema:
            type: string
        - name: timeframe
          in: query
          required: true
          description: K-line type (e.g., 3m, 5m, 1H, 1D).
          schema:
            type: string
            enum:
              - "3m"
              - "5m"
              - "15m"
              - "30m"
              - "1H"
              - "4H"
              - "1D"
        - name: thold
          in: query
          required: true
          description: Threshold value between 1 and 100.
          schema:
            type: string
            pattern: "^[1-9][0-9]?$|^100$" # Ensures a number between 1 and 100
        - name: timePeriod
          in: query
          required: true
          description: Time period, default is 14.
          schema:
            type: string
            example: "14"
        - name: triggerCond
          in: query
          required: false
          description: Trigger condition. Default is 'cross_down'.
          schema:
            type: string
            enum:
              - "cross_up"
              - "cross_down"
              - "above"
              - "below"
              - "cross"
            default: "cross_down"
        - name: duration
          in: query
          required: false
          description: Back testing duration. Default is 1M (1 Month).
          schema:
            type: string
            enum:
              - "1M"
            default: "1M"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            triggerNum:
                              type: string
                              example: "164"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/grid/grid-quantity:
    get:
      summary: Max grid quantity (public)
      tags:
        - Order Book Trading
      description: "Maximum grid quantity can be retrieved from this endpoint. Minimum grid quantity always is 2.<br>Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - name: instId
          in: query
          required: true
          description: Instrument ID (e.g., BTC-USDT).
          schema:
            type: string
        - name: runType
          in: query
          required: true
          description: "Grid type (1: Arithmetic, 2: Geometric)."
          schema:
            type: string
            enum:
              - "1"
              - "2"
        - name: algoOrdType
          in: query
          required: true
          description: "Algo order type (grid: Spot grid, contract_grid: Contract grid)."
          schema:
            type: string
            enum:
              - "grid"
              - "contract_grid"
        - name: maxPx
          in: query
          required: true
          description: Upper price of the price range.
          schema:
            type: string
        - name: minPx
          in: query
          required: true
          description: Lower price of the price range.
          schema:
            type: string
        - name: lever
          in: query
          required: false
          description: Leverage (only required for contract grid).
          schema:
            type: string
            default: "null"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            maxGridQty:
                              type: string
                              example: "164"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/create-signal:
    post:
      summary: Create Signal
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignalRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/SignalResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/signals:
    get:
      summary: Signals information
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - name: signalSourceType
          in: query
          required: true
          schema:
            type: string
            enum:
              - "1"
              - "2"
              - "3"
          description: |
            Signal source type:
            1: Created by yourself
            2: Subscribe
            3: Free signal

        - name: signalChanId
          in: query
          required: false
          schema:
            type: string
          description: Signal channel ID (optional)

        - name: after
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: |
            Pagination of data to return records signalChanId earlier than the requested timestamp.
            Format: Unix timestamp in milliseconds, e.g., 1597026383085

        - name: before
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: |
            Pagination of data to return records signalChanId newer than the requested timestamp.
            Format: Unix timestamp in milliseconds, e.g., 1597026383085

        - name: limit
          in: query
          required: false
          schema:
            type: string
            default: "100"
          description: |
            Number of results per request. The maximum is 100. Default is 100.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/SignalChannelResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/order-algo:
    post:
      summary: create signal bot
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignalsRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/SignalsResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/stop-order-algo:
    post:
      summary: A maximum of 10 orders can be stopped per request.
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                algoId:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/SignalsResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/margin-balance:
    post:
      summary: Adjust margin balance
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarginSignal"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            algoId:
                              type: string

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/amendTPSL:
    post:
      summary: Adjust margin balance
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TPSLSignal"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            algoId:
                              type: string

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/set-instruments:
    post:
      summary: Set instruments
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstrumentRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            algoId:
                              type: string

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/orders-algo-details:
    get:
      summary: Signal bot order
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - name: algoOrdType
          in: query
          required: true
          schema:
            type: string
            enum:
              - grid
              - contract_grid
          description: |
            Algo order type:
            - `grid`: Spot grid
            - `contract_grid`: Contract grid
        - name: algoId
          in: query
          required: true
          schema:
            type: string
          description: Algo ID

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/SignalBotResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/orders-algo-pending:
    get:
      summary: Active Signal bot order
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - name: algoOrdType
          in: query
          required: true
          schema:
            type: string
            enum:
              - grid
              - contract_grid
          description: |
            Algo order type:
            - `grid`: Spot grid
            - `contract_grid`: Contract grid
        - name: algoId
          in: query
          required: true
          schema:
            type: string
          description: Algo ID
        - name: after
          in: query
          schema:
            type: string
            description: "Pagination of data to return records algoId earlier than the requested timestamp, Unix timestamp format in milliseconds, e.g. 1597026383085"
        - name: before
          in: query
          schema:
            type: string
            description: "Pagination of data to return records algoId newer than the requested timestamp, Unix timestamp format in milliseconds, e.g. 1597026383085"
        - name: limit
          in: query
          schema:
            type: string
            description: "Number of results per request. The maximum is 100. The default is 100."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/GeneralResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ActiveSignalResponse"

        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tradingBot/signal/orders-algo-history:
    get:
      summary: Active Signal bot History
      tags:
        - Order Book Trading
      description: "Rate Limit: 20 requests per 2 seconds<br>Rate limit rule: UserID + Instrument ID"
      parameters:
        - name: algoOrdType
          in: query
          required: true
          schema:
            type: string
            enum:
              - grid
              - contract_grid
          description: |
            Algo order type:
            - `grid`: Spot grid
            - `contract_grid`: Contract grid
        - name: algoId
          in: query
          required: true
          schema:
            type: string
          description: Algo ID
        - name: after
          in: query
          schema:
            type: string
            description: "Pagination of data to return records algoId earlier than the requested timestamp, Unix timestamp format in milliseconds, e.g. 1597026383085"
        - name: before
          in: query
          schema:
            type: string
            description: "Pagination of data to return records algoId newer than the requested timestamp, Unix timestamp format in milliseconds, e.g. 1597026383085"
        - name: limit
          in: query
          schema:
            type: string
[...]
